/*isohu-toolbar*/
#isohu-topbar {
height: 30px;
}

#isohu-topbar a,
#isohu-topbar li,
#isohu-topbar a img {
border: 0 none;
}

#isohu-topbar .isohu-topbar-wrapper {
position: fixed;
_position: absolute;
top: 0;
_top: expression(documentElement.scrollTop + 0 + "px");
left: 0;
width: 100%;
z-index: 2000;
background-color: #2d2d2d;
color: #333333;
height: 30px;
font-family: simsun;
-moz-box-shadow:0 0 3px #2D2D2D;
-webkit-box-shadow:0 0 3px #2D2D2D;
box-shadow:0 0 3px #2D2D2D;
}
#isohu-topbar .isohu-topbar {
width: 960px;
height: 30px;
margin: 0 auto;
color: #fff;
position: relative;
}


#innerToolBar {
position: relative;
width: 960px;
height: 30px;
margin: 0 auto;
}

/*toolbar logo*/
#tb_logo {
display:inline;
float: left;
width: 100px;
margin: 5px 0 0 5px;
}

#tb_logo img.page-logo {
width: 95px;
height: 20px;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/logo_space.v.110712.gif') no-repeat;
}

#isohu-topbar .tb-user-unlogin {
border: none;
background-color: transparent;
width:100px;
/*margin: 8px 16px 0 20px;*/
}

/*toolbar user info*/
#tb_user {
float: right;
width:85px;
height:25px;
display:inline;
overflow:hidden;
padding:5px 0 0 0;
}

#tb_user.current {
background-color: #eff4f8;
}

#tb_user a {
font-size:12px;
line-height: 20px;
margin: 0 5px 0 0;
color:#c1c1c1;
}
#tb_user.current a {
color:#333;
}

#tb_user.current span {
color: #0b60af;
}

#tb_user_info {
position:relative;
float: left;
height: 16px;
padding: 2px 3px;
cursor: pointer;
}
#tb_user_info img{
float:left;
margin-right:3px;
vertical-align: middle;
}
#tb_user_info .tb-user-name{
float:left;
width:50px;
overflow:hidden;
vertical-align:middle;
color: #c1c1c1;
font-size:12px;
line-height:15px;
font-family:Arial;
text-align:left;
word-break:keep-all;
white-space:nowrap;
}

#tb_user .menu-arrow {
position:absolute;
top:9px;
left:75px;
float: none;
width: 7px;
height: 4px;
margin:0px 0 0;
padding: 0;
cursor: pointer;
text-decoration: none;
line-height:1px;
font-size:1px;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/toolbar_icon.gif') -93px -17px;
vertical-align:middle;
}

#tb_user.current .menu-arrow {
background-position: -93px -32px;
}

#tb_user .tb-user-site{
display:none;
}

/* toolbar nav */
.tb-nav {
float: left;
margin: 0 0 0 10px;
}
.tb-nav-home{
float:right;
padding-right:10px;
_width:120px;
}
.tb-nav-inform{
float:right;
padding-right:10px;
}
.tb-nav-inform ul.page-nav {
_float:right;
_display:inline;
}
.tb-nav-app{
width:180px;
}
.tb-nav ul.page-nav {
height:30px;
list-style: none;
margin: 0;
padding: 0
}

.tb-nav ul.page-nav li {
position: relative;
z-index: 20;
display: inline;
float: left;
height: 30px;
margin: 0;
color:#fff;
font-size:12px;
background-repeat:no-repeat;
background-position:center right;
}
.tb-nav ul.page-nav li.toolbar-btn-hover{
background:#565656;
}
.tb-nav ul.page-nav li a {
position:relative;
z-index:21;
display: block;
padding: 8px;
line-height:14px;
color:#c1c1c1;
font-size:12px;
text-decoration:none;
bblr:expression(this.onFocus=this.blur());
outline-style:none;
float:left;
}

/*wrapper*/
.tb-nav ul.page-nav li#requests_wrapper,
.tb-nav ul.page-nav li#notice_wrapper,
.tb-nav ul.page-nav li#jifen_wrapper{
background-image:none;
}

.tb-nav ul.page-nav li#requests_wrapper a.jewel-request,
.tb-nav ul.page-nav li#notice_wrapper a.jewel-notice,
.tb-nav ul.page-nav li#jifen_wrapper a.jewel-jifen{
width:16px;
height:14px;
padding:9px 6px 8px;
}

/*reuest_wrapper*/
.tb-nav ul.page-nav li#requests_wrapper a.jewel-request{
background-image:url('http://r1.suc.itc.cn//itoolbar/mysohu/toolbar_icon.gif');
}
.tb-nav ul.page-nav li#requests_wrapper.active  a.jewel-request{
background-position: 0 -64px;
}
.tb-nav ul.page-nav li#requests_wrapper.active-num  a.jewel-request{
background-position: 0 -32px;
}
/*notice_wrapper*/
.tb-nav ul.page-nav li#notice_wrapper a.jewel-notice{
background-image:url('http://r1.suc.itc.cn//itoolbar/mysohu/toolbar_icon.gif');
background-position: -28px 0;
}
.tb-nav ul.page-nav li#notice_wrapper.active a.jewel-notice{
background-position: -28px -64px;
}
.tb-nav ul.page-nav li#notice_wrapper.active-num  a.jewel-notice{
background-position: -28px -32px;
}
/*jifen_wrapper*/
.tb-nav ul.page-nav li#jifen_wrapper a.jewel-jifen{
background-image:url('http://r1.suc.itc.cn//itoolbar/mysohu/toolbar_icon.gif');
background-position: -56px 0;
}
.tb-nav ul.page-nav li#jifen_wrapper.active  a.jewel-jifen{
background-position: -56px -64px;
}
.tb-nav ul.page-nav li#jifen_wrapper.active-num  a.jewel-jifen{
background-position: -56px -32px;
}
/*app_wrapper*/
.tb-nav ul.page-nav li#app_wrapper{
background-image:none;
}
.tb-nav ul.page-nav li#app_wrapper a.app-menu-link {
padding-right:15px;
}

.tb-nav ul.page-nav li#app_wrapper span.app-arrow {
position: absolute;
z-index:22;
display:inline-block;
left: 36px;
top: 13px;
width: 7px;
height: 4px;
line-height:1px;
font-size:1px;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/toolbar_icon.gif') -93px -17px;
}
.tb-nav ul.page-nav li#app_wrapper.active span.app-arrow{
left: 35px;
}
.tb-nav ul.page-nav li.active {
background: #fff;
padding:0;
}
.tb-nav ul.page-nav li.active a{
color: #666;
}
.tb-nav ul.page-nav li.current {
background-color: #2f7bbb;
}

/*num*/
.tb-nav ul.page-nav span.request-num,
.tb-nav ul.page-nav span.notice-num,
.tb-nav ul.page-nav span.jifen-num{
display:none;
height:16px;
line-height:16px;
padding:0 2px;
min-width:11px;
_width:11px;
text-align:center;
font-size:12px;
color:#fff;
background:#d82521;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
border:#a52d2c 1px solid;
border-top: #d6341f 1px solid;
border-left: #d6341f 1px solid;
float:left;
margin:6px 5px 0 -8px;
word-wrap: normal;
white-space: nowrap;
word-break: keep-all;
}
.tb-nav ul.page-nav li.active-num span.request-num,
.tb-nav ul.page-nav li.active-num span.notice-num,
.tb-nav ul.page-nav li.active-num span.jifen-num{
display:block;
}
.tb-nav ul.page-nav li.active span.request-num,
.tb-nav ul.page-nav li.active span.notice-num,
.tb-nav ul.page-nav li.active span.jifen-num{
color:#9e9e9e;
background:#ddd;
border: #ddd 1px solid;
}
.tb-nav ul.page-nav li.active-num span.digit-one{

}
.tb-nav ul.page-nav li.active-num span.digit-second{

}
.tb-nav ul.page-nav li.active-num span.digit-three{

}

/*request cont*/
.tb-nav #requests_cont_wrapper{
position: absolute;
z-index: 19;
top:30px;
left:-1px;
width:208px;
margin: 0;
padding:5px 0 0 0;
background:#fff;
border:1px solid #2d2d2d;
border-top:0;
color:#333;
display:none;
text-align:left;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
overflow:hidden;
}
.tb-nav li.active #requests_cont_wrapper{
display:block;
}
.tb-nav #requests_cont_wrapper a{
display:inline-block;
padding:0;
color:#6699cc;
background:none;
float:none;
}
.tb-nav #requests_cont_wrapper a:hover{
text-decoration:underline;
}
.tb-nav #requests_cont_wrapper .find-friend-link{
height:20px;
margin:8px 8px 0 8px;
border-bottom:1px solid #aaa;
}
.tb-nav #requests_cont_wrapper .find-friend-link a{
float:right;
padding:0;
}
.tb-nav #requests_cont_wrapper .fans-link{
margin:0 8px;
padding:8px 0;
}
.tb-nav #requests_cont_wrapper .fans-link i{
font-style:normal;
color:#0b60af;
font-weight:bold;
display:inline !important;
zoom:normal !important;
}
.tb-nav #requests_cont_wrapper .fans-link a{
color:#0b60af;
}
.tb-nav #requests_cont_wrapper .view-friend-link{
padding:8px 0;
text-align:center;
background:#f5f5f5;
border-top:1px solid #ebebeb;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}
.tb-nav #requests_cont_wrapper #view_friend.current{
background:#eff4f8;
}

/*inform cont*/
.tb-nav #inform_cont_wrapper{
position: absolute;
z-index: 19;
top:30px;
left:-1px;
width:205px;
margin: 0;
padding:5px 0 0 0;
display:none;
background:#fff;
border:1px solid #2d2d2d;
border-top:0;
color:#333;
text-align:left;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
overflow:hidden;
}
.tb-nav li.active #inform_cont_wrapper{
display:block;
}
.tb-nav #inform_cont_wrapper a{
display:inline-block;
padding:0;
color:#6699cc;
background:none;
float:none;
}
.tb-nav #inform_cont_wrapper a:hover{
text-decoration:underline;
}
.tb-nav #inform_cont_wrapper .open-inform-link{
height:20px;
margin:8px 8px 0 8px;
border-bottom:1px solid #aaa;
}
.tb-nav #inform_cont_wrapper .open-inform-link a{
float:right;
padding:0;
}
.tb-nav #inform_cont_wrapper .inform-link{
margin:0 8px;
padding:8px 0;
}
.tb-nav #inform_cont_wrapper .inform-link i{
font-style:normal;
color:#0b60af;
font-weight:bold;
display:inline !important;
zoom:normal !important;
}
.tb-nav #inform_cont_wrapper .inform-link a{
color:#0b60af;
}
.tb-nav #inform_cont_wrapper .view-inform-link{
padding:8px 0;
text-align:center;
background:#f5f5f5;
border-top:1px solid #ebebeb;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}
.tb-nav #inform_cont_wrapper .inform-list{
overflow:hidden;
clear:both;
padding:4px 0 10px 0;
}
.tb-nav #inform_cont_wrapper .inform-list li,.tb-nav #inform_cont_wrapper .inform-list li a{
float:none;
}
.tb-nav #inform_cont_wrapper .inform-list li span.at{
font-family:Verdana;
}
.tb-nav #inform_cont_wrapper .inform-list li{
display:block;
clear:both;
height:23px;
line-height:23px;
color:#676767;
padding-left:5px;
}
.tb-nav #inform_cont_wrapper #view_inform.current{
background:#eff4f8;
}

/*jifen cont*/
.tb-nav #jifen_cont_wrapper{
position: absolute;
z-index: 19;
top:30px;
left:-1px;
width:205px;
margin: 0;
padding:5px 0 0 0;
background:#fff;
border:1px solid #2d2d2d;
border-top:0;
color:#333;
display:none;
text-align:left;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
overflow:hidden;
}
.tb-nav li.active #jifen_cont_wrapper{
display:block;
line-height:14px;
}
.tb-nav #jifen_cont_wrapper a{
display:inline-block;
padding:0;
color:#6699cc;
background:none;
}
.tb-nav #jifen_cont_wrapper a:hover{
text-decoration:underline;
}
.tb-nav #jifen_cont_wrapper .mall-link{
height:20px;
margin:8px 8px 0 8px;
border-bottom:1px solid #aaa;
}
.tb-nav #jifen_cont_wrapper .mall-link a{
float:right;
padding:0;
}
.tb-nav #jifen_cont_wrapper .gold-num{
margin:8px 8px 0;
font-weight:bold;
}
.tb-nav #jifen_cont_wrapper .gold-num i{
margin:0 2px;
font-style:normal;
color:#0b60af;
font-weight:bold;
display:inline !important;
zoom:normal !important;
}
.tb-nav #jifen_cont_wrapper .gold-num a{
color:#0b60af;
}
.tb-nav #jifen_cont_wrapper .gold-info{
margin:5px 4px 0;
color:#999;
line-height:18px;
}
.tb-nav #jifen_cont_wrapper .gold-info i{
margin:0 2px;
font-style:normal;
font-weight:bold;
display:inline !important;
zoom:normal !important;
}
.tb-nav #jifen_cont_wrapper .gold-info a{
display:inline;
float:right;
margin-top:3px;
*margin-top:-22px;
_margin-top:-22px;
}
.tb-nav #jifen_cont_wrapper .gold-info a.link{
float: none;
text-decoration: none;
*margin-top:0px;
}
.tb-nav #jifen_cont_wrapper .view-gold{
width:205px;
margin:8px 0 0;
padding:8px 0;
text-align:center;
background:#f5f5f5;
border-top:1px solid #ebebeb;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}
.tb-nav #jifen_cont_wrapper .view-gold a{
margin:0 5px;
float:none;
}
/*app menu*/
.tb-nav #app_menu_wrapper{
position: absolute;
z-index: 19;
margin: 0;
top:30px;
left:-1px;
width: 150px;
background:#fff;
border:1px solid #445e73;
border-top:0;
display:none;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
overflow:hidden;
}
.tb-nav li.active #app_menu_wrapper{
display:block;
}
.tb-nav ul.app-menu {
width: 150px;
margin:0;
padding:5px;
line-height:24px;
overflow:hidden;
zoom:1;
list-style:none;
}

.tb-nav ul.app-menu li {
float: left;
margin: 0;
padding: 0;
width: 70px;
height: 26px;
line-height: 24px;
cursor: pointer;
list-style: none
}

.tb-nav ul.app-menu li.current {
background-color: #eff4f8;
background-image:none;
}

.tb-nav ul.page-nav li.active ul.app-menu li.current a {
background: none;
}

.tb-nav ul.app-menu span.icon {
float: left;
width: 16px;
height: 16px;
margin: 4px 3px 0 8px;
_margin: 4px 3px 0 5px;
display: inline;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/icon_space.v.110614.gif') no-repeat;
cursor: pointer;
}

.tb-nav ul.app-menu li a {
line-height: 24px;
color: #333;
padding:0;
zoom:1;
}

.tb-nav ul.app-menu span.i-blog {
background-position: 0 0;
}

.tb-nav ul.app-menu span.i-album {
background-position: -30px 0px;
}

.tb-nav ul.app-menu span.i-video {
background-position: -60px 0px;
}

.tb-nav ul.app-menu span.i-leavemsg {
background-position: -90px 0px;
}

.tb-nav ul.app-menu span.i-group {
background-position: -120px 0px;
}

.tb-nav ul.app-menu span.i-share {
background-position: -150px 0px;
}

.tb-nav ul.app-menu span.i-sayhi {
background-position: -180px 0px;
}

.tb-nav ul.app-menu span.i-tsohu {
background-position: -330px 0px;
}

.tb-nav ul.app-menu span.i-youxi {
background-position: -270px 0px;
}

.tb-nav ul.app-menu span.i-subscribe {
background-position: -240px 0px;
}

#app_wrapper ul.app-menu span.i-wenda {
background-position: -420px 0px;
}

#app_wrapper ul.app-menu span.i-baby {
background-position: -390px 0px;
}
/*toolbar search*/
#tp_search{
display:inline-block;
float:right;
width:120px;
height:21px;
margin:5px 10px 0 0;
background:url('http://r1.suc.itc.cn//itoolbar/mysohu/toolbar_icon.gif') 0px -125px;
}
#tp_search input.nav-search{
float:left;
width:86px;
height:21px;
margin:0;
padding:0 5px;
line-height:20px;
border:0;
color:#666;
font-size:12px;
background:none;
}
#tp_search input.active{
float:left;
width:86px;
height:21px;
margin:0;
padding:0 5px;
line-height:20px;
border:0;
color:#000;
font-size:12px;
background:none;
}
#tp_search span.nav-search-icon{
float:right;
width:24px;
height:21px;
margin:0px;
background:url('http://r1.suc.itc.cn//itoolbar/mysohu/toolbar_icon.gif') -96px -125px;
cursor:pointer;
}
#tp_search a:hover span.nav-search-icon{
background:url('http://r1.suc.itc.cn//itoolbar/mysohu/toolbar_icon.gif') -96px -125px;
}

/*toolbar ad*/

#tb_addon {
float: left;
width:118px;
height:18px;
overflow:hidden;
margin: 6px 0 0 0;
display: inline;
line-height:18px;;
display:none
}

#tb_addon a {
color: #333;
font-weight: normal;
text-decoration: underline;
}


/*toolbar tips*/
#innerToolBar.static {
}

#innerToolBar .tip {
position: absolute;
z-index:25;
top: 41px;
left:343px;
width: 295px;
height: 50px;
background: #fff;
border: 3px solid #69c;
}
#innerToolBar .tip a{color:#0272B2}

#innerToolBar .ticon {
position: absolute;
left: 72px;
top: -10px;
display: block;
width: 16px;
height: 10px;
font-size: 1px;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/img_bubble.gif') no-repeat 0 -30px;
}

#innerToolBar .close {
display: block;
position: absolute;
width: 12px;
height: 12px;
right: 3px;
top: 3px;
color: #69c;
cursor: pointer;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/icon_tools.gif') no-repeat scroll -48px -32px transparent;
text-indent: -999px;
}

#innerToolBar a:hover .close {
background-position: -48px -16px;
}

#innerToolBar p {
margin: 0;
padding: 5px 0px 0px 0px;
line-height: 20px;
zoom:1;
text-align: left;
}

#innerToolBar em {
color: #fb8902;
font-style: normal;
}

#innerToolBar .tip2 {
width: 200px;
left: 281px;
}

#innerToolBar .tip2 .ticon {
left: 100px
}

#innerToolBar .tip2 p {
margin: 10px 0 0;
}

#innerToolBar .tip2 a:hover {
text-decoration: underline;
color: #0272B2;
}

#innerToolBar .tip3 {
width: 200px;
left: 351px;
}

#innerToolBar .tip3 .ticon {
left: 100px
}

#innerToolBar .tip3 p {
margin: 10px 0 0;
}

#innerToolBar .tip3 a:hover {
text-decoration: underline;
color: #0272B2;
}

#login_ico {
display: inline;
border: 1px solid #CCCCCC;
float: left;
height: 48px;
margin: 10px 0px 7px 7px;
overflow: hidden;
padding: 1px;
width: 48px;
}

#login_ico img {
border: medium none;
height: 48px;
width: 48px;
}

#login_name,
#loginCard .passportc p#login_name {
width:195px;
_width:190px;
height:20px;
margin: 15px 0 6px 65px;
overflow:hidden;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
white-space: nowrap;
}

#login_opr {
border-top: 1px solid #CCCCCC;
margin: 7px 5px 0pt 65px;
padding: 5px 0pt 0pt;
}

#login_opr a {
margin: 0pt 5px;
text-decoration: underline;
padding:0;
}
#login_opr a:hover{
padding:0;
border:0;
}

/******* start menu *******/
.toolBar .menuSub-div-start {
width: 400px;
background: #f6f6f6 url(http://js.sohu.com/passport/images/startmenu_bg.gif) repeat-x center top;
border: 1px solid #ccc;
}

/******* start menu *******/
.toolBar .menuSub-div-start {
width: 400px;
background: #f6f6f6 url(http://js.sohu.com/passport/images/startmenu_bg.gif) repeat-x center top;
border: 1px solid #ccc;
}

/* all css */
#loginCard {
display:none;
position: absolute;
top:30px;
right:131px;
_right:139px;
z-index: 1500;
width: 280px;
height: 400px\9;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
border:1px solid #2d2d2d;
border-top:0;
width:280px;
height:170px;
}

#loginCard .passportc ul, #loginCard .passportc ol, #loginCard .passportc li, #loginCard .passportc span, #loginCard .passportc p, #loginCard .passportc form {
margin: 0;
padding: 0;
border: 0;
}

#loginCard .passportc img, #loginCard .passportc a img {
border: 0;
margin: 0;
padding: 0;
}

#loginCard .passportc ul, #loginCard .passportc ol, #loginCard .passportc li {
list-style: none
}

/* link color */
#loginCard .passportc a {
color: #313031;
text-decoration: none
}

#loginCard .passportc a:link, .passportc a:visited {
color: #FF6000;
}

#loginCard .passportc a:hover {
text-decoration: underline;
}

/* login */
#loginCard .passportc {
height: 165px;
width: 280px;
_height /**/: 165px;
_width /**/: 280px;
padding:5px 0 0 0;
font-size: 12px;
background: #EFF4F8;
text-align: left;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}

#loginCard .passportc b {
color: #FF0000;
}

#loginCard .pptitle, #loginCard .pptitle2 {
margin: 0px 10px -3px 10px !important;
margin: 0px 10px;
line-height: 25px;
}
/*title*/
#loginCard .pptitle {
font-weight: bold;
}

#loginCard .pptitle2 span {
font-weight: bold;
}

#loginCard .pptitle2 {
position: relative;
margin-right: 0;
}

#loginCard .pptitle2 .exit {
position: absolute;
right: 10px;
top: 1px;
*top: -3px;
}
/*exit*/
#loginCard .ppthree {
display: inline;
color: #999;
margin: auto 39px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

#loginCard .ppcontent {
height: 126px;
_height /**/: 133px;
padding: 7px 0px 0px 10px;
background: url(http://www.sohu.com/passport/images/pic001.gif) no-repeat center;
position: relative;
}

#loginCard .passportc .error {
color: #FF6000;
height:15px;
}

#loginCard .passportc .card {
font-weight: normal;
padding: 0px 0px 0px 25px;
color: #313031;
}

#loginCard .passportc .card li {
margin: 2px 0px 7px 0px !important;
margin: 2px 0px 5px 0px;
}

#loginCard .passportc .card li a:link, .passportc .card li a:visited {
margin-right: 27px;
}

#loginCard .card dt {
margin-top: 7px;
}

#loginCard .passportc .card dl {
padding-top: 5px
}

#loginCard .passportc .card .sign {
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/btn_login.gif') no-repeat;
width: 54px;
height: 24px;
border: 0;
font-size: 12px;
padding-top: 1px;
_padding-top /**/: 4px;
color: #fff;
cursor:pointer;
}

#loginCard .passportc .card .ppinput {
border: 1px #a2b3c3 solid;
background: #fff;
font-size: 12px;
height: 19px;
width: 164px;
_height /**/: 19px;
_width /**/: 166px;
margin: 0;
padding: 0;
}

#loginCard .card dl a:link, #loginCard .card dl a:visited {
margin-right: 27px;
}

#loginCard .card dt span {
margin: 5px 25px 0px 38px;
color: #313031;
}

/* select */
#loginCard .ppselecter, #loginCard .ppselecter * {
font-size: 12px;
font-family: simsun, Verdana, Arial, Helvetica, sans-serif;
line-height: normal;
}

#loginCard .ppselecter {
border: 1px solid #FFA700;
width: 160px;
margin-left: 1px;
overflow: hidden
}

#loginCard .ppselecter .ppseltit {
background-color: #FFF6DF;
height: 15px;
padding-top: 4px;
text-indent: 6px;
color: #FF6000;
}

#loginCard .ppselecter table td table td {
padding: 3px;
}

#loginCard .ppselecter .active {
background: #FDD463;
color: #333;
font-weight: normal;
}

/* logining  */
#loginCard .ppWaitMsg {
background: url(http://images.sohu.com/passport/v3/cardstyle/images/load.gif) no-repeat center 30px;
color: #FF6000;
padding-top: 90px;
padding-left: 50px;
font-size: 12px;
width: 250px;
font-weight: normal;
}

/* login end */
#loginCard .passportc .listContA {
width: 258px;
height: 71px;
_width /**/: 260px;
_height /**/: 73px;
border: 1px #FFD391 solid;
background: #fff;
margin: 0px 3px 0px -1px;
color: #FF6000;
}

#loginCard .passportc .listContA ul {
margin-top: 7px !important;
margin-top: 9px;
margin-left: 8px;
}

#loginCard .passportc .listContA li {
margin-bottom: 7px;
}

#loginCard .passportc .listContA li p {
color: #313031;
}

#loginCard .passportc .middle {
color: #FF6000;
margin-left: -1px;
}

#loginCard .passportc .middle li {
float: left;
margin-top: 6px;
margin-left: 5px;
}

#loginCard .passportc .middle li img {
background: url(http://www.sohu.com/passport/images/pic005.gif) no-repeat;
width: 32px;
height: 15px;
}

#loginCard .passportc .middle .current {
padding: 6px 7px 2px 7px;
margin: -1px 0px 0px 0px;
background: #fff;
border: 1px #FFD391 solid;
border-top: 0px;
color: #000;
}

#loginCard .passportc .bottom {
color: #FF6000;
width: 258px;
clear: both;
}

#loginCard .passportc .bottom ul {
margin-left: 0px !important;
margin-left: -10px;
}

#loginCard .passportc .bottom li {
float: left;
margin-top: 6px;
margin-left: 5px;
}

#loginCard .passportc .bottom .dabenying {
float: right;
margin-top: 1px;
}

#loginCard .passportc .bottom .dabenying img {
width: 54px;
height: 24px;
border: 0;
}

#loginCard .passportc .candle {
position: absolute;
left: 220px;
top: 12px;
}

/*** blog.sohu.com redefine begin ***/
/* a */
#loginCard .passportc a {
color: #1b5891;
}

#loginCard .passportc a:link, .passportc a:visited {
color: #1b5891;
}

#loginCard .passportc a:hover {
color: #fc7821;
}

#loginCard .passportc .middle a:link, #loginCard .passportc .middle a:visited, #loginCard .passportc .bottom a:link, #loginCard .passportc .bottom a:visited {
color: #336699;
}

/* border-color */

#loginCard .passportc .card .ppinput {
border-color: #a2b3c3;
}

#loginCard .ppselecter {
border-color: #C3CECD;
}

#loginCard .passportc .listContA {
border-color: #C3CECD;
}

#loginCard .passportc .middle .current {
border-color: #c3cecd;
}

/* background & color */
#loginCard .passportc * {
color: #333;
}

#loginCard .ppcontent {
background: #eff4f8 none;
}


#loginCard .passportc .middle li img {
background-image: url('http://r1.suc.itc.cn//itoolbar/mysohu/img_go_arrow.gif');
}

#loginCard .ppselecter, .ppselecter * {
color: #493a01;
}

#loginCard .ppselecter .ppseltit {
background: #C3CECD !important;
color: #333 !important;
}

#loginCard .ppselecter .active {
background: #FC7821 !important;
color: #fff !important;
}

#loginCard .ppWaitMsg {
background-image: url(http://js.sohu.com/passport/images/load.gif);
color: #666;
}

#loginCard .passportc .listContA {
color: #333;
}

#loginCard .passportc .middle, #loginCard .passportc .bottom {
color: #666;
}

#loginCard .passportc .middle .current {
color: #333;
}

/* position */
#loginCard .pptitle, #loginCard .pptitle2 {
margin: 0 10px -3px 10px;
}

#loginCard .pptitle *, #loginCard .pptitle2 * {
line-height: 25px;
}

#loginCard .ppcontent {
width: 268px;
height: 128px;
padding: 7px 0px 0px 8px;
}

#loginCard .ppWaitMsg {
width: auto;
margin: 0 8px 0 0;
padding: 90px 0 0 0;
text-align: center;
}

#loginCard .passportc .listContA {
width: 260px;
height: 71px;
margin: 0;
overflow: hidden;
}

#loginCard .passportc .middle {
float: none !important;
width: auto !important;
height: auto !important;
margin: 0 0 0 0px;
padding: 0 !important;
}

#loginCard .passportc .bottom li {
margin-left: 4px;
}

#loginCard .passportc .bottom .dabenying {
margin: 1px 0px 0 0;
}

#loginCard .passportc .bottom .dabenying img.btn-camp {
width: 54px;
height: 21px;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/btn_camp.gif') no-repeat;
}

/*
* temp
*/
.tb-nav .tbNotice {
position: relative;
}

.tb-nav .tbNotice span {
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/icon_tools.gif') repeat scroll 0px 0px transparent;
color: #FFFFFF;
display: block;
font-family: Arial;
font-size: 10px;
font-weight: normal;
height: 13px;
line-height: 12px;
position: absolute;
left: 35px;
text-align: center;
top: 8px;
width: 22px;
padding-left: 3px;
overflow: hidden;
}


/*jifen channel animate*/
#jifenTip{
position:absolute;
width:145px;
height:22px;
background:#fcfe9b url('http://r1.suc.itc.cn//itoolbar/mysohu/icon_jifen.gif') no-repeat 5px 2px;
border:1px solid #ffe876;
color:#666;
text-indent:28px;
line-height:22px;
cursor:pointer;
overflow:hidden;
}
#jifenTip i{
color:#f00;
font-weight:bold;
font-style:normal;
}
#jifenGold{
position:absolute;
z-index:2100;
width:50px;
height:50px;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://s2.suc.itc.cn/core/js/jquery/itoolbar/channel/icon_gold.png");
}
/*Change nickname*/
.changname-mask{
z-index: 3000;
background: #000;
opacity: 0.5;
filter:alpha(opacity=50);
position:fixed;
_position: absolute;
top: 0;
_top: expression(documentElement.scrollTop + 0 + "px");
}
.passport-changname-tips{
width:auto;
position:absolute;
z-index: 10000;
background: #fff;
border-radius:6px;
box-shadow: 0 0 4px #999;
zoom: 1;
}
.passport-changname-tips .con{
height:45px;
padding:20px 15px 0 15px;
_float: left;
}
.passport-changname-tips i{
width:25px;
height:24px;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/bg_c_name_icon.gif') no-repeat;
vertical-align: middle;
display:inline-block;
margin: 0 10px 0 0;
}
.passport-changname-tips i.err{
background-position: 0 -24px;
}
.changname-wrapper{
width:647px;
overflow: hidden;
font-size:14px;
background:url('http://r1.suc.itc.cn//itoolbar/mysohu/bg_c_name_repeat.png');
border-radius:8px;
position:fixed;
z-index: 9999;
_position: absolute;
top: 35px;
_top: expression(documentElement.scrollTop + 35 + "px");
padding:0 0 5px 0;
font-size:12px;
}
.changname-wrapper .title{
height:40px;
line-height:40px;
position: relative;
}
.changname-wrapper .content{
background:url('http://r1.suc.itc.cn//itoolbar/mysohu/bg_c_name_bar.gif') no-repeat top #fff;
width:635px;
margin:0 auto;
border-radius:8px;
}
.changname-wrapper .title h1{
color:#fff;
font-weight:bold;
padding:0 0 0 10px;
margin: 0 50px 0 0;
line-height: 40px;
font-size: 14px;
}
.changname-wrapper .title .close{
display:block;
position:absolute;
width:35px;
height:40px;
right:0;
top:0;
z-index: 10;
text-indent:-10000px;
outline:none;
overflow: hidden;
}
.changname-wrapper .intro{
height:65px;
color:#fff;
padding: 0 20px 0 20px;
}
.changname-wrapper .intro h2{
font-weight:bold;
line-height: 30px;
font-size: 14px;
margin:0;
padding:0;
height:30px;
overflow: hidden;
}
.changname-wrapper .intro p{
line-height: 14px;
margin:0;
padding:0;
height:14px;
overflow: hidden;
}
.changname-wrapper .namelist h2{
height:55px;
text-indent:-10000px;
overflow: hidden;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/bg_c_name_title2.gif') no-repeat 60px 25px;
}
.changname-wrapper .namelist ul{
overflow: hidden;
zoom:1;
padding:0 0 0 60px;
margin:0;
}
.changname-wrapper .namelist li{
width:243px;
height:74px;
padding:20px 0 0 0;
margin: 0 20px 20px 0;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/bg_c_name_list.gif') no-repeat;
cursor: pointer;
color:#309edb;
text-align:center;
float:left;

overflow: hidden;
}
.changname-wrapper .namelist li.selected{
background-position: 0 -188px;
}
.changname-wrapper .namelist li.disabled{
background-position: 0 -94px;
color:#666;
cursor:default;
}
.changname-wrapper .namelist li.disabled h3 span{
font-weight:normal;
font-size:12px;
color:#999;
}
.changname-wrapper .namelist li h3{
font-weight:bold;
margin: 0 0 5px 0;
padding:0 10px;
word-wrap:break-word;
width:220px;
height:36px;
overflow: hidden;
line-height: 18px;
font-size:14px;

}
.changname-wrapper .namelist li h4{
font-weight:normal;
font-size:12px;
}
.changname-wrapper .changtab{
text-align:center;
}
.changname-wrapper .changtab a{
color: #fff;
display: inline-block;
margin:10px auto;
width:122px;
height:27px;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/bg_c_name_btn.gif') no-repeat -126px 0;
line-height: 27px;
line-height:29px\9;
text-align:center;
overflow: hidden;
text-decoration: none;
color: #fff!important;
}
.changname-wrapper .changtab a:hover{
background-position: -126px -27px;
text-decoration:none;
color:#fff!important;
}
.changname-wrapper .changtab a,.changname-wrapper .changtab a:hover,.changname-wrapper .changtab a:visited{
color:#fff!important;
}
.changname-wrapper .changinput{
padding:40px 0 40px 40px;
}
.changname-wrapper .changinput label{
width:106px;
height:14px;
display:inline-block;
*display:inline;
zoom:1;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/bg_c_name_title.gif') no-repeat;
overflow:hidden;
vertical-align:middle;
margin:0 5px 0 0;
}
.changname-wrapper .changinput input{
border: #add7ee 1px solid;
background: #fff;
width: 180px;
height:24px;
padding: 2px 3px 0 4px;
line-height:24px;
vertical-align: middle;
}
.changname-wrapper .changinput span{
font-size:12px;
background:url('http://r1.suc.itc.cn//itoolbar/mysohu/bg_from_tips.gif') no-repeat 0 0;
display:inline-block;
*display:inline;
zoom:1;
height:24px;
line-height:24px;
}
.changname-wrapper .changinput span em{
height:24px;
border-right:#edd9a5 1px solid;
padding:0 10px 0 15px;
display:inline-block;
*display:inline;
zoom:1;
font-style:normal;
color: #666!important;
line-height:24px;
}
.changname-wrapper .changinput span.err{
background-position:0 -24px;
}
.changname-wrapper .changinput i.right{
display:inline-block;
*display:inline;
zoom:1;
width:14px;
height:11px;
vertical-align: middle;
background:url('http://r1.suc.itc.cn//itoolbar/mysohu/bg_c_name_icon.png') no-repeat;
overflow:hidden;
}
.changname-wrapper .changinput span.err em{
border-right:#eda5a5 1px solid;
padding:0 10px 0 25px;
}
.changname-wrapper .btn-wrapper{
text-align:right;
width:635px;
height:48px;
padding:20px 0 0 0;
border-radius:0 0 8px 8px;
background:#f6f6f6;
}
.changname-wrapper .btn-wrapper a{
display:inline-block;
width:63px;
height:27px;
line-height:26px;
*line-height:29px;
line-height:29px\9;
overflow:hidden;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/bg_c_name_btn.gif') no-repeat -63px 0;
text-align:center;
margin:0 10px 0 0;
text-decoration: none;
color: #666;
}
.changname-wrapper .btn-wrapper a:hover{
background-position: -63px -27px;
}
.changname-wrapper .btn-wrapper a.submit{
background-position: 0 0;
color:#fff;
}
.changname-wrapper .btn-wrapper a.submit:hover{
background-position: 0px -27px;
text-decoration: none;
color: #fff;
}
.changname-wrapper .chang-text{
color:#ff0000;
width:510px;
margin:0 auto;
padding:20px 0;
line-height:20px;
}

.gold-info p.two-egg-wrapper{
color:#333;
height: 72px;
}
.gold-info b.two-egg{
color:#F00;
}
.tb-nav #jifen_cont_wrapper .gold-info a.gold-info-icon {
float:left;
text-decoration:none;
margin-top:-5px;
margin-right:  10px;
padding-left: 2px;
}

/*
* info tip
*/

.shadow-info-wrapper{
position: fixed;
_position: absolute;
_top: expression(documentElement.scrollTop + 0 + "px");
z-index:99999;

}

.shadow-info-wrapper .tip-info-wrapper{
background-color:#FFF;
border: 5px solid #1581db;
box-shadow: 0 0 2px #1581db;
padding: 12px;
width: 505px;
border-radius: 18px 18px 18px 18px;
position: absolute;

}
.shadow-info-wrapper .tip-info-wrapper .tip-close{
position: absolute;
top: -12px;
right: -12px;

}
.shadow-info-wrapper .tip-info-wrapper .tip-close a{
width: 22px;
height: 22px;
display: inline-block;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/tip/btn_tip.v201112011746.png') no-repeat 0 -110px;
_background: url('http://r1.suc.itc.cn//itoolbar/mysohu/tip/btn_tip.v201112011746.gif') no-repeat 0 -110px;

}
.shadow-info-wrapper .tip-info-wrapper a:hover{
background-position: -60px -110px;

}
.shadow-info-wrapper .tip-info-wrapper a.click{
background-position: -120px -110px;

}
.shadow-info-wrapper .tip-info-wrapper .btn-enter{
width: 165px;
height: 75px;
margin: 30px auto 10px;

}
.shadow-info-wrapper .tip-info-wrapper .btn-enter a{
width: 165px;
height: 75px;
display: inline-block;
background: url('http://r1.suc.itc.cn//itoolbar/mysohu/tip/btn_tip.v201112011746.png') no-repeat 0 0;
_background: url('http://r1.suc.itc.cn//itoolbar/mysohu/tip/btn_tip.v201112011746.gif') no-repeat 0 0;

}
.shadow-info-wrapper .tip-info-wrapper .btn-enter a:hover{
background-position: -180px 0;
}
.shadow-info-wrapper .tip-info-wrapper .btn-enter a.click{
background-position: -360px 0;
}
