/* whole */
body.whole {
background: #e7f0f7 url('http://s3.suc.itc.cn//i/home/d/bg_whole.gif') repeat-x left 30px
}
/* frame common */
#main .menu-top, .sentence-box {
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
z-index: 300;
}
#canvas .sentence-box, .feed-box .feed-item, .panel-nav-wrapper, .feed-nav-con-wrapper {
clear: both;
height: 1%;
zoom: 1;
}
#main .content {
zoom: 1;
}
#main .sidebar-wrapper {
float: left;
display: inline;
zoom: 1;
}
#main .sidebar-wrapper:after {
clear: both;
content: ' ';
display: block;
font-size: 0;
line-height: 0;
visibility: hidden;
width: 0;
height: 0;
}

#main .sidebar-inner {
border: 1px solid #9ec1d3;
border-top: 0px;
-moz-border-radius-bottomleft: 8px;
-moz-border-radius-bottomright: 8px;
-webkit-border-radius: 0 0 8px 8px;
border-radius: 0 0 8px 8px;
-webkit-box-shadow: 0 2px 3px -1px #9ec1d3;
-moz-box-shadow: 0 2px 3px -1px #9ec1d3;
box-shadow: 0 2px 3px -1px #9ec1d3;
}
.sidebar-inner .sidebar {
min-height: 200px;
padding: 15px 4px;
/*background: url('http://s3.suc.itc.cn//i/home/d//d/left_bg.png') repeat-y -2px 0;*/
border: 0 none;
-moz-border-radius-bottomleft: 8px;
-moz-border-radius-bottomright: 8px;
-webkit-border-radius: 0 0 8px 8px;
border-radius: 0 0 8px 8px;
_zoom:1;
}
/*.sentence-box {
padding: 6px;
margin-bottom: 10px;
background: #fff;
border: 1px solid #b3c6d3;
-webkit-box-shadow: 0 0 4px #9abcc9;
-moz-box-shadow: 0 0 4px #9abcc9;
box-shadow: 0 0 4px #9abcc9;
}
.dialog-content-container .sentence-box {
margin-bottom:0px;
border:0px none;
border-radius:0px;
-webkit-box-shadow: 0 0 0 #9abcc9;
-moz-box-shadow: 0 0 0 #9abcc9;
box-shadow: 0 0 0 #9abcc9;
}*/
.feed-box {
}
.feed-nav-con-wrapper {
border-top: 1px solid #e2eaed;
}
/*task*/
.quest-mask{
width:100%;
height:2000px;
opacity: 0.6;
filter:alpha(opacity=60);
position: fixed;
_position: absolute;
top: 0;
_top: expression(documentElement.scrollTop + 0 + "px");
left:0;
z-index: 9997;
background: #000;
}
.quest-dl-wrapper,.quest-dl-top,.quest-dl-con{
border-radius: 10px;
font-family:simsun;
}
.quest-dl-wrapper{
width:460px;
border: #626262 1px solid;
padding:4px;
background: #fff;
_position: absolute;
position:fixed;
z-index:9999;
}
.quest-dl-top{
zoom:1;
}
.quest-dl-con{
background: url('http://s3.suc.itc.cn//i/home/d/bg_quest_dl_bottom.jpg') repeat-x bottom;
position:relative;
padding:25px 0 110px 20px;
zoom:1;
}
.quest-dl-close{
position: absolute;
top:-10px;
right:-10px;
width:23px;
height:23px;
background: url('http://s3.suc.itc.cn//i/home/d/icon_close.png') no-repeat;
_background: url('http://s3.suc.itc.cn//i/home/d/icon_close.gif') no-repeat;
display:block;
}
.quest-dl-img{
width:170px;
height:170px;
position:absolute;
top:20px;
right:20px;
}
.quest-dl-img img{
width:170px;
height:170px;
display:block;
}
.quest-dl-con .quest-title{
}
.quest-dl-con .quest-title .img,.quest-dl-con .quest-title-con{
display: inline-block;
*display: inline;
*zoom:1;
vertical-align: middle;
}
.quest-dl-con .quest-title-con{
width:170px;
}
.quest-dl-con .quest-title .img{
width:56px;
height:43px;
background: url('http://s3.suc.itc.cn//i/home/d/bg_quest_title_icon.jpg') no-repeat;
margin:0 5px 0 0;
}
.quest-dl-con .quest-title-con h1{
color:#d64600;
font-size:16px;
line-height: 25px;
}
.quest-dl-con .quest-title-con p{
color:#537892;
}
.quest-dl-con .item-list{
line-height: 16px;
}
.quest-dl-con .item-list .item{
margin:15px 0 0 0;
}
.quest-dl-con .item-list h2,.quest-dl-con .item-list .item-con{
display: inline-block;
*display: inline;
*zoom:1;
vertical-align: top;
}
.quest-dl-con .item-list h2{
font-size:12px;
width:60px;
}
.quest-dl-con .item-list .item-con-text{
width:160px;
}
.quest-dl-con .item-list .progressbar,.quest-dl-con .item-list .progressbar p{
width:154px;
height:14px;
overflow: hidden;
background: url('http://s3.suc.itc.cn//i/home/d/bg_progressbar.gif') no-repeat 0 -14px;
position: relative;
}
.quest-dl-con .item-list .progressbar p{
background-position: 0 0;
}
.quest-dl-con .item-list .progressbar span{
position:absolute;
left: 0px;
top:0px;
width:147px;
line-height: 14px;
text-align:center;
}
.quest-dl-con .item-list .item-con-list{
position: relative;
}
.quest-dl-con .item-list .item-con-list ul{
padding:10px 0 0 0;
}
.quest-dl-con .item-list .item-con-list ul li{
color:#d64600;
text-align:right;
line-height: 18px;
}
.quest-dl-con .item-list .item-con-list ul li p{
float:left;
width:102px;
height:18px;
line-height: 17px;
overflow: hidden;
text-align:left;
}
.quest-dl-con .item-list .item-con-list ul li p a{
color:#d64600;
font-weight:bold;
}
.quest-dl-con .item-list .item-con-award{

}
.quest-dl-con .item-list .item-con-award ul li{
display: inline-block;
*display: inline;
*zoom:1;
margin:0 40px 0 0;
}
.quest-dl-con .item-list .item-con-award ul li .img,.quest-dl-con .item-list .item-con-award ul li .img img{
width:60px;
height:60px;
}
.quest-dl-con .item-list .item-con-award ul li h3{
font-size:14px;
text-align:center;
margin:0;
}
.quest-dl-con .btn{
width:208px;
height:57px;
position: absolute;
left:125px;
bottom:15px;
}
.quest-dl-con .btn a{
width:208px;
height:57px;
background: url('http://s3.suc.itc.cn//i/home/d/bg_quest_btn.jpg') no-repeat;
margin:0 auto;
display:block;
}
.quest-dl-con .btn a.quest-dl-btn-status1{
background-position: 0 0px;
}
.quest-dl-con .btn a.quest-dl-btn-status2{
background-position: 0 -57px;
}
.quest-dl-con .btn a.quest-dl-btn-status3{
background-position: 0 -114px;
}
.quest-dl-con .btn a.quest-dl-btn-status4{
background-position: 0 -171px;
}
.quest-dl-con .btn a.quest-dl-btn-status5{
background-position: 0 -228px;
}
.quest-dl-con .btn a.quest-dl-btn-status6{
background-position: 0 -285px;
}
.post-options {
float: left;
display: inline;
position: static;
}
.sentence-box {
padding: 6px;
margin-bottom: 10px;
/*background: #fff;
border: 1px solid #b3c6d3;
-webkit-box-shadow: 0 0 4px #9abcc9;
-moz-box-shadow: 0 0 4px #9abcc9;
box-shadow: 0 0 4px #9abcc9;*/
}
/*
* one sentence
*/
.sentence-box .post-caption {
height: 25px;
font-size: 16px;
font-weight: bold;
line-height: 24px;
color: #0b60af;
padding-bottom: 0px;
padding-left: 5px;
}

.sentence-box .post-caption span {
float:left;
text-indent: -999px;
width:195px;
height: 20px;
background: url('http://s3.suc.itc.cn//i/home/d/bg_post_caption.gif') no-repeat left center;
}
.sentence-box .post-caption .txt-number-error{
float:right;
margin-right:5px;;
font-size:12px;
font-weight:normal;
padding-left:15px;
color:#cc0000;
height:20px;
line-height:18px;
background:url('http://s3.suc.itc.cn//i/home/d/icon_number_error.gif') no-repeat left center;
}
.sentence-box .post-caption .txt-number-error .number{
float:none;
width:auto;
font-size:20px;
background:none;
}
.sentence-box .post-wrapper {
min-height: 50px;
background: #fff;
height: 1%;
}
.sentence-box .post-wrapper-inner {
min-height: 39px;
/*padding: 5px;border-top: 1px solid #dbdfe4;*/
}

.sentence-box .post-area {
width: auto;
padding: 5px;
border: 1px solid #b3c6d3;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 1px 1px 2px #B3C6D3;
-moz-box-shadow: inset 1px 1px 2px #B3C6D3;
box-shadow: inset 1px 1px 2px #B3C6D3;
}

.sentence-box .post-area-active,
.sentence-box .post-area-hover {
border: 1px solid #3292DC;
}

.sentence-box .post-area .textarea-wrapper {
width: 100%;

}

.sentence-box .post-area.txt-fields-error,
.sentence-box .post-area.txt-fields-error textarea{
background:#fae5e5;
color:#333;
font-size:12px;
line-height:18px;
overflow-y:auto;
}

.sentence-box .post-area textarea {
width: 100%;
height: 36px;
margin: 0;
padding: 0;
color: #999;
font-family: Arial,\5B8B\4F53, simsun,sans-serif;
font-size: 14px;
border: 0 none;
line-height: 18px;
overflow-y: auto;
resize: none;
}

.sentence-box .post-state-wrapper {
position: relative;
}

.sentence-box .post-state {
position: absolute;
height: 20px;
width: 100%;
background-image: none;
background-attachment: scroll;
background-position: center;
background-repeat: no-repeat;
overflow-y: auto;

}

.sentence-box .post-state.success {
background: url('http://s3.suc.itc.cn//i/home/d/img_publish_success.gif') no-repeat center;
}

.sentence-box .post-state.failure {
background: url('http://s3.suc.itc.cn//i/home/d/img_publish_failure.gif') no-repeat center;
}

.sentence-box-failure {
width:210px;
height:25px;
background: url('http://s3.suc.itc.cn//i/home/d/img_publish_failure.gif') no-repeat center;
}

.sentence-box .post-action {
min-height: 34px;
clear: both;
zoom: 1;
}

.sentence-box .post-options {
width: 50%;
}

.sentence-box .post-options-hover {
/*background: url('http://s3.suc.itc.cn//i/home/d/share_icon_bg.gif') 5px 5px no-repeat;*/
}

.sentence-box .post-options .pub-faces, .sentence-box .post-options .insert-at, .sentence-box .post-options .insert-picture, .sentence-box .post-options .insert-video {
float: left;
position: relative;
padding: 10px 0 2px 5px;
_width: 50px;
}
#picture_panel_handle object.swfupload {
position: absolute;
left: 5px;
top: 10px;
}
.sentence-box .post-options .pub-faces a span, .sentence-box .post-options .insert-at a span, .sentence-box .post-options .insert-picture a span, .sentence-box .post-options .insert-video a span {
background: url('http://s3.suc.itc.cn//i/home/d/icon_share.gif') no-repeat;
}
.sentence-box .post-options .pub-faces a:hover span{
background-position:-16px 0;
}
.sentence-box .post-options .insert-picture a:hover span{
background-position:-48px 0;
}
.sentence-box .post-options .insert-at a:hover span{
background-position:-80px 0;
}
.sentence-box .post-options .insert-video a:hover span{
background-position:-112px 0;
}

.sentence-box .post-options .pub-faces span.btn-emot {
float: left;
display: block;
width: 16px;
height: 16px;
margin: 1px 0 0 0;
_margin-left: 1px;
cursor: pointer;
background-position:0 0;
}
.sentence-box .post-options .insert-at span.btn-insert-at {
float: left;
display: block;
width: 16px;
height: 16px;
margin: 1px 0 0 0;
_margin-left: 1px;
background-position:-64px 0;
}
.sentence-box .post-options .insert-picture span.btn-insert-picture {
float: left;
display: block;
width: 16px;
height: 16px;
margin: 1px 0 0 0;
_margin-left: 1px;
background-position:-32px 0;
}
.sentence-box .post-options .insert-video span.btn-insert-video {
float: left;
display: block;
width: 16px;
height: 16px;
margin: 1px 0 0 0;
_margin-left: 1px;
background-position:-96px 0;
}

.sentence-box .post-options .pub-faces i.icon-arrow {
float: left;
display: block;
width: 10px;
height: 16px;
background: url('http://s3.suc.itc.cn//i/home/d/icon_tools.gif') no-repeat -80px -32px;
}
.sentence-box .post-options .pub-faces i.text,
.sentence-box .post-options .insert-at i.text,
.sentence-box .post-options .insert-picture i.text,
.sentence-box .post-options .insert-video i.text {
float: left;
display: block;
height: 16px;
color: #666;
font-size: 14px;
font-style: normal;
padding: 2px 0 0 3px;
#padding-top: 4px;
cursor: pointer;
}

.sentence-box .post-options a:hover {
text-decoration: none;
}

.sentence-box .post-options .pub-faces a:hover i.text, .sentence-box .post-options .insert-at a:hover i.text, .sentence-box .post-options .insert-picture a:hover i.text, .sentence-box .post-options .insert-video a:hover i.text {
color:#666;
}

.sentence-box .post-options .pub-faces a:hover i.icon-arrow {
background-position: -80px -16px;
}


.sentence-box .post-btns {
float: right;
width: 45%;
padding: 5px 1px 0 0;
/*	position: relative;*/
display: inline;
z-index: 5;

}

.sentence-box .post-btns .btn-submit {
float: right;
width: auto;
display: inline;
}

.sentence-box .post-btns .btn-submit a:hover {
text-decoration: none;
}

.sentence-box .post-btns .btn-submit span.submit {
display: block;
width: 79px;
height: 27px;
font: 16px \5B8B\4F53,"SimSun";
line-height: 27px;
background: url('http://s3.suc.itc.cn//i/home/d/btn_sentence.jpg') 0 0 no-repeat;
text-align: center;
color: #fff;
cursor: pointer;
overflow: hidden;
}
.sentence-box .post-btns .btn-submit span.submit-hover {
/*background-position: 0 -22px;*/
}

.sentence-box .post-btns .btn-submit a:hover span.submit {
background-color: #2a6398;
}


.sentence-box-disabled .post-btns .btn-submit span.submit,
.sentence-box-disabled .post-btns .btn-submit a:hover span.submit {
background-position: 0 -44px;
color: #95C6F1;
}
.sentence-box-disabled .post-area {
background: #F1F1F1;
border: 1px solid #E0E0E0;
}
.sentence-box-disabled .post-area textarea {
color: #999;
background: #F1F1F1;
}


.sentence-box .post-btns .txt-number {
float: right;
height: 27px;
line-height: 27px;
padding: 0 10px 0 0;
color: #666;
font-size: 14px;
}
.sentence-box .post-btns .txt-number-now-error {
color: #CC0000;
}
.sentence-box .post-btns .txt-error {
display: none;
float: right;
height: 27px;
line-height: 27px;
padding: 0 10px 0 0;
color: #CC0000;
}

.sentence-box .post-btns .btn-mblog {
float: right;
width: auto;
line-height: 16px;
margin-right: 20px;
padding-top: 2px;
}

.sentence-box .post-btns .btn-mblog * {
vertical-align: middle;
}

.sentence-box .post-btns .btn-mblog label {
cursor: pointer;
}

.sentence-box .post-btns .btn-mblog span.txt {
display: inline-block;
padding-left: 5px;
padding-top: 2px;
color: #999999;
}

.sentence-box .post-btns .btnTip {
background: none repeat scroll 0 0 #FFFFFF;
border: 3px solid #6699CC;
height: 40px;
line-height: 20px;
padding: 5px 20px 5px 10px;
position: absolute;
right: 0;
text-align: left;
top: 30px;
width: 250px;
z-index: 10;
}

.sentence-box .post-btns .btnTip .ticon {
background: url('http://s3.suc.itc.cn//i/home/d/img_bubble.gif') no-repeat scroll 0 -30px transparent;
display: block;
font-size: 1px;
height: 10px;
left: 105px;
position: absolute;
z-index:1000;
top: -10px;
width: 16px;
}

.sentence-box .post-btns .btnTip .close {
background: url('http://s3.suc.itc.cn//i/home/d/icon_tools.gif') no-repeat scroll -48px -32px transparent;
color: #6699CC;
cursor: pointer;
display: block;
height: 12px;
position: absolute;
right: 3px;
text-indent: -999px;
top: 3px;
width: 12px;
}

.sentence-box .post-btns .btnTip a:hover .close {
background-position: -48px -16px;
}





.post-success-transform {
width:210px;
height:25px;
background: url('http://s3.suc.itc.cn//i/home/d/img_set_success.gif') no-repeat center;
}

.post-failure-transform {
width:210px;
height:25px;
background: url('http://s3.suc.itc.cn//i/home/d/img_set_failure.gif') no-repeat center;
}

.insert-picture-error{
width:170px;
}

.insert-picture-tip{
margin-bottom:20px;
}

.insert-picture-error span.error-icon{
background:url('http://s3.suc.itc.cn//i/home/d/icon_error_tip.gif') no-repeat;
float:left;
width:30px;
height:26px;
margin:3px 10px 0 0;
}

.insert-picture-error p.error-tip{
float:left;
color:#656565;
line-height:20px;
}

.insert-picture-error p.error-tip span{
color:#333;
font-family:arial;
}

.insert-picture-loading{
width:144px;
}

.insert-picture-loading .loading-body{
margin-bottom:15px;
}

.insert-picture-loading .loading-bar{
display:block;
width:140px;
padding:1px;
background:#FFF;
border:1px solid #D3DFEB;
height:7px;
overflow:hidden;
margin-bottom:10px;
}

.insert-picture-loading .loading-progress{
float:left;
height:7px;
font-size:1px;
overflow:hidden;
background:url('http://s3.suc.itc.cn//i/home/d/insert_picture_loading.gif');
}

.insert-picture-loading .loading-text{
display:block;
font-size:14px;
color:#676767;
text-align:center;
}

.insert-picture-confirm{
width:218px;
}

.insert-picture-confirm .confirm-function-text, .insert-video-confirm .confirm-function-text {
text-align:right;
color:#999;
height:21px;
}

.insert-picture-confirm .confirm-function-text a{
color:#0B60AF;
}

.insert-picture-confirm .confirm-picture-preview{
width:200px;
margin:0 auto;
text-align: center;
}

.insert-picture-confirm .confirm-picture-readme{
padding-top:10px;
text-align:center;
color:#333;
}


/**
* sentence photo upload
*/
.sentence-box .post-options .insert-picture {
z-index: 400;
}

.panel-tip {
position: absolute;
left: 10px;
top: 35px;
background-color: #fff;
-moz-box-shadow: 0px 2px 3px #b7b7b7;
-webkit-box-shadow: 0px 2px 3px #b7b7b7;
box-shadow: 0px 2px 3px #b7b7b7;
}

.panel-tip .extend-pieces-wrapper {
position: relative;
}

.panel-tip .extend-pieces-wrapper span.img-arrow {
position: absolute;
top: -8px;
left: 20px;
width: 16px;
height: 9px;
background: url('http://s3.suc.itc.cn//i/home/d/img_panel_tip_arrow_w16.gif');
display:inline-block;
}

.panel-tip .panel-container {
border: 1px solid #50798f;
padding: 10px;
}

.panel-notice {
width: auto;
}

.panel-notice .insert-picture-tip {
margin: 0;
}

.panel-progress,
.panel-thumbnail {
width: 260px;
}

/**/
.panel-container-flash-tip{
width:240px;
}
.panel-container-flash-tip .flash-icon{
width:99px;
height:83px;
margin:15px auto 0 auto;
}
.panel-container-flash-tip .flash-icon img{
width:99px;
height:83px;
}
.panel-container-flash-tip .flash-txt{
margin:10px auto 0 auto;
color:#507990;
text-align:center;
padding:0 15px;
line-height:150%;
}

/* video */

#video_panel_wrapper {
display: none;
z-index: 999;
}

#video_upload_destroy {
position: absolute;
display: block;
width: 9px;
height: 9px;
right: 20px;
top: 15px;
text-indent: 10px;
background: url('http://s3.suc.itc.cn//i/home/d/icon_tools.gif') -49px -33px no-repeat;
overflow: hidden;
}
#video_upload_destroy:hover {
background-position: -49px -17px;
}

.insert-video-box{
width:358px;
padding: 0 5px 10px 5px;
margin-top: -20px;
}

.insert-video-box ul{
color:#666;
line-height:18px;
text-align:left;
margin-bottom:5px;
}

.insert-video-box .btn-submit {
float: left;
width: auto;
border:1px solid #0961AC;
height:23px;
width:46px;
}

.insert-video-box .btn-submit i.submit {
display: block;
width: 46px;
height: 22px;
border-top:1px solid #2C89D7;
background-color: #1A6EB4;
text-align: center;
color: #ffffff;
line-height: 23px;
cursor: pointer;
text-decoration:none;
font-style: normal;
}

.insert-video-box .btn-submit a,.insert-video-box .btn-submit a:hover{
text-decoration:none;
}

.insert-video-box .btn-submit a:hover i.submit {
background-color: #2B7BBF;
border-top:1px solid #3C95E0;
}

.insert-video-box .btn-submit i.sending,
.insert-video-box .btn-submit a:hover i.sending{
color:#8DB7DA;
text-decoration:none;
background-color: #1A6EB4;
border-top:1px solid #2C89D7;
}

.insert-video-box .video-input{
float:left;
width:295px;
border:1px solid #81A6C3;
padding:4px;
margin-right:5px;
color:#333;
font-family:arial;
}

.insert-video-box .video-input-sending{
background:#F1F1F1;
color:#999;
border:1px solid #E0E0E0;
}

.insert-video-box .video-error{
color:#666;
padding-top:10px;
}

.insert-video-box .video-error span{
color:#EB4800;
}

.insert-video-box .video-error a{
color:#0E73C1;
}

span.ico-video{
width:12px;
height:13px;
background:url('http://s3.suc.itc.cn//i/home/d/icon_video.gif');
display:inline-block;
margin:0 3px;
}

/* plugins jquery inherit style */
.dialog-content-container .sentence-box {
margin-bottom:0px;
border:0px none;
border-radius:0px;
-webkit-box-shadow: 0 0 0 #9abcc9;
-moz-box-shadow: 0 0 0 #9abcc9;
box-shadow: 0 0 0 #9abcc9;
}
.feed-box .feed-pic,.feed-box .feed-con {
float: left;
display: inline;
}

.feed-box span.f-n {
display: inline-block;
}

/*
* tblog
*/
.mblog-tip-ico1,.mblog-tip-ico2 {
background: url('http://s3.suc.itc.cn//i/home/d/icon_alarm.gif') no-repeat -85px 0;
height: 94px;
width: 88px;
margin: 0 auto 15px;
}

.mblog-tip-ico2 {
background-position: 8px 0;
}

.tblog-total { /*background-color: #FFFFFF;
border-bottom: 1px solid #E3EAEE;*/
clear: both;
padding: 10px 15px;
overflow: hidden;
zoom: 1;
}

.tblog-total a:hover {
text-decoration: none;
}

.tblog-total span {
line-height: 25px;
}

.tblog-total-btn {
float: right;
text-align: center;
display: inline;
}

.tblog-pagination {
padding-top: 15px;
padding-bottom: 5px;
}
/*
* person show
*/


.person .feed-box .feed-item .feed-pic {
display: none;
}

.person .feed-box .feed-item .pm-reply-box .feed-pic {
display: block;
}

.person .feed-box .feed-con {
width: 678px;
padding: 0 5px;
}

.person .pm-reply-box .pm-reply-con { /* float: right;
width: 615px;*/
margin-left: 45px;
zoom: 1;
}

.person .feed-box .feed-tblog-photo .feed-con,.person .feed-box .feed-tblog-video .feed-con{
padding: 0 5px;
width: 678px;
}

.person .feed-con .tblog-preview {
width: 472px;
margin-top: 10px;
}

.exhibition-photo,
.exhibition-photo ul {
clear: both;
overflow: hidden;
zoom: 1;
}

.exhibition-photo ul {
margin-bottom: 5px;
}

.exhibition-photo ul li {
float: left;
display: inline;
width: 170px;
height: 175px;
margin: 0 5px;
margin-top: 2px;
padding-bottom: 5px;
/*_background: url('http://s3.suc.itc.cn//i/home/d/icon_person_exhibition.gif') no-repeat;*/
}

.exhibition-photo ul li div {
width: 150px;
height: 150px;
padding: 9px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
text-align: center;
position: relative;
/*border: 1px solid #aeb8be;
-moz-box-shadow: 0 3px 5px #999;
-webkit-box-shadow: 0 3px 5px #999;
box-shadow: 0 3px 5px #999;
background: #fff;*/
}

.exhibition-photo ul li p {
position: absolute;
left: 8px;
top: 8px;
width: 150px;
height: 150px;
/*border: 1px solid #c0c0c0;
-moz-box-shadow: inset 0 0 5px #999;
-webkit-box-shadow: inset 0 0 5px #999;
box-shadow: inset 0 0 5px #999;*/
border-style: inset\9;
filter: alpha(opacity = 90);
z-index: 9;
}

.exhibition-photo ul li p a,.exhibition-photo ul li p a:link,.exhibition-photo ul li p a:hover,.exhibition-photo ul li p a:visited {
width: 150px;
height: 150px;
display: block;
}

.exhibition-photo ul li.exhibition-add p {
background: #f6f6f6 url('http://s3.suc.itc.cn//i/home/d/icon_person_exhibition.gif') no-repeat center -180px;
}

.exhibition-photo ul li span {
position: static;
width: 150px;
height: 150px;
background: #f6f6f6 url('http://s3.suc.itc.cn//i/home/d/icon_person_exhibition.gif') no-repeat center -10px;
display: block;
overflow: hidden;
}

.exhibition-photo ul li img { /*width: 150px; height: 150px;*/
z-index: -1;
}

/*
* feed style
*/
.feed-state-new {
clear: both;
}

.feed-state-new p,.feed-default p {
margin: 0 15px;
padding-top: 10px;
/*border-top:1px solid #e3eaee;*/
}

.panel-nav-wrapper .feed-state-new p a:link,.panel-nav-wrapper .feed-state-new p a:active,.panel-nav-wrapper .feed-state-new p a:visited {
display: block;
height: 25px;
line-height: 25px;
text-align: center;
color: #b05b00;
background-color: #fff9d7;
}

.panel-nav-wrapper .feed-state-new p a:hover {
background-color: #f9f0bb;
}

.panel-nav-wrapper .feed-state-new.fixed {
position: fixed;
top: 20px;
width: 568px;
}

.feed-loading {
text-align: center;
border: 0;
padding: 20px 15px;
}

.feed-loading .feed-loading-info {
width: 140px;
height: 64px;
margin: 0 auto;
padding-left: 70px;
font-size: 14px;
line-height: 64px;
text-align: left;
display: block;
background: url('http://s3.suc.itc.cn//i/home/d/icon_feed_loading.gif') no-repeat;
}

.feed-more .feed-default {
border: 0 none;
color: #808080;
font-size: 14px;
padding: 0 10px;
text-align: center;
}

.feed-default span {
font-size: 14px;
color: #333;
text-align: center;
padding: 25px 10px;
/*background-color: #fff9d7;*/
display: block;
zoom: 1;
}

.tabs-float {
width: 140px;
margin: 34px 0 0 18px;
padding: 5px 0;
background: #fff;
border: 1px solid #507990;
position: absolute;
z-index: 50;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 1px #B7B7B7;
-moz-box-shadow: 0 1px 1px #B7B7B7;
box-shadow: 0 1px 1px #B7B7B7;
}

.tabs-float .tabs-groups p {
height: 23px;
padding-left: 10px;
line-height: 23px;
cursor: pointer;
overflow: hidden;
}

.tabs-float p.hover,.tabs-float p:hover {
background-color: #cfe9f6;
}

.tabs-float .tabs-float-top {
position: absolute;
width: 14px;
margin-top: -12px;
padding: 0 47px;
height: 7px;
background: url('http://s3.suc.itc.cn//i/home/d/icon_tool.gif') no-repeat 47px 0;
z-index: 5;
}

.tabs-float .tabs-groups-mg {
height: 34px;
line-height: 34px;
margin: 5px 10px 0 10px;
border-top: 1px solid #eaeaea;
}

.tabs-float .tabs-groups-mg span {
padding-left: 18px;
background: url('http://s3.suc.itc.cn//i/home/d/icon_tool.gif') no-repeat left -14px;
}

.panel-nav-wrapper .filter-type {
margin: 0 15px;
clear: both;
/*background-color: #fff;*/
zoom: 1;
}

.panel-nav-wrapper .feed-nav ul.filter-menu {
padding: 7px 0 5px 4px;
/*border-bottom: 1px solid #E3EAEE;*/
overflow: hidden;
zoom: 1;
}

.panel-nav-wrapper .feed-nav ul.filter-menu li {
float: left;
width: auto;
white-space: nowrap;
padding: 0px;
margin: 0px;
background-color: transparent;
line-height: 18px;
}

ul.filter-menu li a,ul.filter-menu li a:visited,ul.filter-menu li a:hover {
text-decoration: none;
outline: none;
blr: expression(this.onFocus = this.blur());
}

.panel-nav-wrapper .feed-nav ul.filter-menu li span {
padding: 0 12px;
display: block;
}

.panel-nav-wrapper .feed-nav ul.filter-menu li.current {
line-height: 18px;
/*background-color: #8db1c5;
border-color: #8db1c5;*/
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
/*.panel-nav-wrapper .feed-nav ul.filter-menu li.current span {
padding: 0 7px;
}
.panel-nav-wrapper .feed-nav ul.filter-menu li.current a {
color: #fff;
}*/
.feed-nav {

}

.feed-item {

}

.feed-nav .tabs-extend span.btn-collapse {

}

.feed-nav span.btn-collapse i.icon-collapse {
display: inline-block;
width: 16px;
height: 16px;
background: url('http://s3.suc.itc.cn//i/home/d/icon_tools.gif') no-repeat scroll -128px -32px transparent;
border: 1px solid #d9e6f1;
}

.feed-nav span.btn-collapse a:hover i.icon-collapse {
background-position: -128px -16px;
}

.feed-nav span.btn-collapse i.expand {
background-position: -144px -32px;
}

.feed-nav span.btn-collapse a:hover i.expand {
background-position: -144px -16px;
}

.feed-nav li.group-more ul.group-extend {
position: absolute;
top: 27px;
left: -1px;
width: 120px;
background-color: #fff;
border: 1px solid #e0e0e0;
z-index: 5;
display: none;
}

.feed-nav li.ext-current ul.group-extend {
display: block;
}

.feed-nav li.group-more ul.group-extend li {
float: none;
font-weight: normal;
}

.feed-nav li.group-more ul.group-extend li span {
max-width: none;
}

.feed-nav li.group-more ul.group-extend li.active {
background-color: #f6f6f6;
border-top: 1px solid #D3DFED;
border-bottom: 1px solid #D3DFED;
}

.feed-nav li.group-more ul.group-extend li.hover {
background-color: #eff4f8;
}

.feed-nav li.group-more ul.group-extend li.split-line {
clear: both;
font-size: 1px;
line-height: 1px;
height: 1px;
background-color: #e0e0e0;
}

.feed-nav li.group-more ul.group-extend li.mng a {
color: #0b73c3;
text-decoration: none;
}

.feed-nav li.group-more ul.group-extend li.mng i.icon {
background: url('http://s3.suc.itc.cn//i/home/d/icon_tools.gif') no-repeat scroll -160px -32px transparent;
display: inline-block;
height: 12px;
margin-right: 2px;
overflow: hidden;
position: relative;
top: 7px;
width: 12px;
float: left;
}

.feed-nav li.group-more ul.group-extend li.mng i.t-order {
background-position: -160px -32px;
}

.feed-nav li.group-more ul.group-extend li.mng a:hover i.t-order {
background-position: -160px -16px;
}

.feed-nav li.group-more ul.group-extend li.mng i.t-manage {
background-position: -176px -32px;
}

.feed-nav li.group-more ul.group-extend li.mng a:hover i.t-manage {
background-position: -176px -16px;
}

.feed-nav .group-more .btn-more {
position: relative;
display: inline;
}

.feed-nav .btn-more i.icon-arrow-down {
position: absolute;
float: none;
width: 12px;
height: 12px;
top: -3px;
left: 22px;
font-size: 1px;
line-height: 1px;
margin: 0;
padding: 0;
background: url('http://s3.suc.itc.cn//i/home/d/icon_tools.gif') no-repeat -96px -16px;
}

.feed-box .feed-content { /*    padding: 10px 0;*/

}

.feed-box .feed-highlight {
background-color: #fffeee;
}

.feed-box .feed-pic {
margin: 2px 10px 0 0;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
z-index: 5;
}

.feed-box .feed-pic,.feed-box .feed-pic img {
width: 55px;
height: 55px;
overflow: hidden;
}

.feed-box .feed-pic div.avatar-feed {
position: absolute;
width: 55px;
height: 55px;
background: url('http://s3.suc.itc.cn//i/home/d/icon_avatar_feed.gif') no-repeat;
cursor: pointer;
z-index: 5;
}

.feed-box .feed-con {
width: 472px;
/*padding-right: 15px;*/
overflow: hidden;
}

.feed-box .feed-tblog-photo .feed-con,.feed-box .feed-tblog-video .feed-con {
width: 472px;
padding: 0px;
}

.feed-box .feed-con .mod-head {
font-size: 14px;
line-height: 22px;
/*color: #333;*/
word-wrap: break-word;
word-break: break-all;
}

.feed-box .feed-con .mod-head span.username {
word-break: keep-all;
white-space: nowrap;
}

.feed-box .feed-con .mod-head span.username a { /*color: #729fb7;*/

}

/*.feed-box .feed-con .mod-head span.user-suffix {
color: #999;
}*/
a.nickAT i.user-t {
display: none;
}

.feed-box .feed-con .mod-head a.more {
font-size: 12px;
font-family: \5B8B\4F53, SimSun;
}

.feed-box .feed-con .mod-body {
font-size: 14px;
line-height: 18px;
padding: 8px 0;
}

.feed-box .feed-album .feed-con .mod-body {
overflow: hidden;
_zoom: 1;
}

.feed-box .feed-con .mod-body:after {
clear: both;
content: ' ';
display: block;
font-size: 0;
line-height: 0;
visibility: hidden;
width: 0;
height: 0;
}

.feed-box .feed-tblog .feed-con .mod-body,.feed-box .feed-tblog-vote .feed-con .mod-body,.feed-box .feed-app-wenda .feed-con .mod-body,.feed-box .feed-event .feed-con .mod-body,.feed-box .feed-blog .feed-con .mod-body,.feed-box .feed-forum .feed-con .mod-body {
/*border-left: 0px solid #ccc;
padding: 5px 0 0 0px;*/
}

.feed-box .feed-share-photo .feed-con .mod-body,.feed-box .feed-follow .feed-con .mod-body {
padding: 5px 0;
}

.feed-box .feed-blog .feed-con .mod-body h4,.feed-box .feed-forum .feed-con .mod-body h4,.feed-box .feed-album .feed-con .mod-body h4,.feed-box .feed-share-photo .feed-con .mod-body h4,.feed-box .feed-forward-video .feed-con .mod-body h4,.feed-box .feed-share-video .feed-con .mod-body h4 {
padding: 0 0 5px 0;
}

.feed-box .feed-blog .feed-con .mod-body h4,.feed-box .feed-forum .feed-con .mod-body h4 {
padding: 0 0 7px 0;
line-height: 14px;
}

.feed-box .feed-con .mod-foot {
display: block;
word-wrap: break-word;
word-break: break-all;
overflow: hidden;
clear:both;
}

.feed-box .feed-tblog .feed-con .mod-foot,.feed-box .feed-tblog-vote .feed-con .mod-foot,.feed-box .feed-app-wenda .feed-con .mod-foot,.feed-box .feed-follow .feed-con .mod-foot,.feed-box .feed-event .feed-con .mod-foot,.feed-box .feed-blog .feed-con .mod-foot,.feed-box .feed-forum .feed-con .mod-foot { /*padding-top: 5px;*/

}

.feed-box .feed-con .mod-foot .item-info {
float: left;
/*color: #999;*/
line-height: 16px;
}

.feed-box .feed-con .mod-foot .item-info .feed-timestamp a,.feed-box .feed-con .mod-foot .item-info .feed-from a { /*color: #999;*/
text-decoration: none;
}

.feed-box .feed-con .mod-foot .item-info .feed-timestamp a:hover,.feed-box .feed-con .mod-foot .item-info .feed-from a:hover {
color: #507990;
text-decoration: underline;
}

.feed-box .feed-con .mod-foot .item-behavior {
float: right;
width: 200px;
text-align: right;
line-height: 20px;
}

.feed-box .feed-con .mod-foot i.icon {
display: inline-block;
position: relative;
width: 16px;
height: 16px;
top: 2px;
_top: 0px;
*top: 0px;
overflow: hidden;
background: url(http://s2.suc.itc.cn/i/img/icon_space.gif) no-repeat;
margin-right: 5px;
}

.feed-box .feed-con .mod-foot i.i-blog {
background-position: 0 0;
}

.feed-box .feed-con .mod-foot i.i-album {
background-position: -30px 0;
}

.feed-box .feed-con .mod-foot i.i-photo {
background-position: -30px 0;
}

.feed-box .feed-con .mod-foot i.i-video {
background-position: -60px 0;
}

.feed-box .feed-con .mod-foot i.i-comment {
background-position: -90px 0;
}

.feed-box .feed-con .mod-foot i.i-group {
background-position: -120px 0;
}

.feed-box .feed-con .mod-foot i.i-ground {
background-position: -120px 0;
}

.feed-box .feed-con .mod-foot i.i-share {
background-position: -150px 0;
}

.feed-box .feed-con .mod-foot i.i-poke {
background-position: -180px 0;
}

.feed-box .feed-con .mod-foot i.i-sentence {
background-position: -210px 0;
}

.feed-box .feed-con .mod-foot i.i-subscribe {
background-position: -240px 0;
}

.feed-box .feed-con .mod-foot i.i-minigame {
background-position: -270px 0;
}

.feed-box .feed-con .mod-foot i.i-say {
background-position: -300px 0;
}

.feed-box .feed-con .mod-foot i.i-moudle {
background-position: -300px 0;
}

.feed-box .feed-con .mod-foot i.i-app {
background-position: -300px 0;
}

.feed-box .feed-con .mod-foot i.i-friend {
background-position: -300px 0;
}

.feed-box .feed-con .mod-foot i.i-forward {
background-position: -300px 0;
}

.feed-box .feed-con .mod-foot i.i-profile {
background-position: -300px 0;
}

.feed-box .feed-con .mod-foot i.i-tblog {
background-position: -330px 0;
}

.feed-box .feed-con .mod-foot i.i-jifen {
background-position: -360px 0;
}

.feed-box .feed-con .mod-foot i.i-baby {
background-position: -390px 0;
}

.feed-box .feed-con .mod-foot i.i-wenda {
background-position: -420px 0;
}
/*
.feed-box .feed-forward .feed-con .mod-body .flake-body .feed-set,
.feed-box .feed-tblog-forward .feed-con .mod-body .flake-body .feed-set,
.feed-box .feed-tblog .feed-set,
.feed-box .feed-con .mod-foot .feed-set,
.feed-box .feed-item .feed-quote .flake-body .quote-actions .feed-set {
color: #E0E0E0;
}*/
.feed-box .feed-tblog .feed-set,.feed-box .feed-tblog-forward .feed-con .mod-body .flake-body .feed-set,.feed-box .feed-con .mod-foot .feed-set a,.feed-box .feed-item .feed-quote .flake-body .quote-actions .feed-set a {
padding: 0 5px;
}

.feed-box .feed-item .feed-quote {

}

.feed-box .feed-item .feed-quote .feed-statistics {
height: 65px;
padding: 5px 0;
}

.feed-box .feed-statistics a,.feed-box .feed-statistics a:visited,.feed-box .feed-statistics a:hover {
width: 65px;
height: 25px;
padding-top: 40px;
text-align: center;
font-size: 12px;
line-height: 20px;
text-decoration: none;
display: block;
overflow: hidden;
background: url('http://s3.suc.itc.cn//i/home/d/nobg.gif') no-repeat;
}

.feed-box .feed-statistics a:hover {
background-position: left -70px;
}

.feed-box .feed-quote .flake-head {
height: 5px;
font-size: 1px;
line-height: 1px;
border-bottom: 0 none;
display: none;
}

.feed-box .feed-quote .flake-head span.arrow {
display: block;
position: relative;
top: 1px;
left: 30px;
width: 15px;
height: 5px;
background: url('http://s3.suc.itc.cn//i/home/d/img_bubble.gif') no-repeat;
}

.feed-box .feed-quote .flake-body {
margin: 2px 0px;
padding: 10px;
/*background-color: #f6f6f6;
border: 1px solid #ecebeb;*/
height: 1%;
}

.feed-box .feed-quote .flake-body .origin-delted,.feed-box .feed-quote .flake-body h3,.feed-box .feed-quote .flake-body p {
font-size: 12px;
font-weight: normal;
line-height: 20px;
}

.feed-quote .flake-body h3 {
word-wrap: break-word;
word-break: break-all;
}

.feed-quote .flake-body h3 span.username {
word-break: keep-all;
white-space: nowrap;
}

.feed-box .feed-item .feed-quote .flake-body h3 a {

}

.feed-box .feed-item .feed-quote .flake-body h3 .username a {

}

.feed-box .feed-quote .flake-body p { /*color: #666;*/
padding-top: 5px;
clear: both;
overflow: hidden;
word-wrap: break-word;
zoom: 1;
}

.feed-box .feed-quote .flake-body p span.pic {
float: left;
padding: 5px 10px 0px 0px;
display: inline;
}

.feed-box .feed-forward .feed-con .mod-body .flake-body .feed-set a,.feed-box .feed-tblog .feed-set a,.feed-box .feed-tblog-forward .feed-con .mod-body .flake-body .feed-set a,.feed-box .feed-item .feed-quote .flake-body p .quote-actions .feed-set a {
font-size: 12px;
/*color: #999;*/
}

.feed-box .feed-item .feed-quote .flake-body p.body-desc {
padding-top: 3px;
}

.feed-box .feed-item .feed-quote .flake-body .quote-actions {

}

.feed-box .feed-item .feed-quote .flake-body .quote-comment {
padding-top: 5px;
zoom: 1;
}

.feed-box .feed-item .feed-quote .flake-body .quote-comment-body {
padding: 5px 0px;
}

.feed-box .feed-share-blog .mod-extend {
position: relative;
top: -18px;
z-index: 5;
zoom: 1;
}

.feed-box .feed-profile {

}

.feed-box .feed-blog {

}

.feed-box .feed-blog .feed-con .mod-body .pic,.feed-box .feed-video .feed-con .mod-body .pic,.feed-box .feed-album .feed-con .mod-body .pic,.feed-box .feed-foreard-video .feed-con .mod-body .pic,.feed-box .feed-share-video .feed-con .mod-body .pic,.feed-box .feed-share-group .feed-con .mod-body .pic,.feed-box .feed-app .feed-con .mod-body .pic,.feed-box .feed-share-friend .feed-con .mod-body .pic {
float:left;
width:auto;
margin-right: 15px;
}
.feed-box .feed-blog .feed-con .mod-body .pic {
max-width:180px \0;
}
.feed-box .feed-share-photo .feed-con .mod-body .pic {
float: left;
width: auto;
margin-right: 10px;
}

.feed-box .feed-share-album .feed-con .mod-body .pic,.feed-box .feed-share-album-dynamic .feed-con .mod-body .pic {
margin-bottom: 5px;
}

.feed-box .feed-app .feed-con .mod-body .pic img {
width: 80px;
}

.feed-box .feed-forward-video-text,.feed-box .feed-event-wenda .feed-con .mod-body p,.feed-box .feed-app-wenda .feed-con .mod-body p,.feed-box .feed-blog .feed-con .mod-body p,.feed-box .feed-video .feed-con .mod-body p,.feed-box .feed-album .feed-con .mod-body p,.feed-box .feed-share-album .feed-con .mod-body p,.feed-box .feed-share-album-dynamic .feed-con .mod-body p,.feed-box .feed-share-photo .feed-con .mod-body p,.feed-box .feed-forward-video .feed-con .mod-body p,.feed-box .feed-share-video .feed-con .mod-body p,.feed-box .feed-share-group .feed-con .mod-body p,.feed-box .feed-app .feed-con .mod-body p
{
font-size: 14px;
line-height: 22px;
word-wrap: break-word;
word-break: break-all;
}

.feed-box .feed-album {

}

.feed-box .feed-video {

}

.feed-box .feed-leaveword {

}

.feed-box .feed-group {

}

.feed-box .feed-forward {

}

.feed-box .feed-share {

}

.feed-box .feed-forward .feed-quote p.say {
color: #333;
}

.feed-box .feed-forward .feed-quote p.delete {
color: #999;
}

.feed-box .feed-forward .feed-quote p.album * {
vertical-align: top;
}

.feed-forward-album .tblog-preview {
clear: both;
overflow: hidden;
zoom: 1;
}

.feed-forward-video-text {
float: right;
width: 310px;
text-align: left;
display: inline;
position: relative;
top: -5px;
color: #666;
}

.feed-box .feed-album .mod-body a,.feed-box .feed-share-photo .mod-body a,.feed-box .feed-event .mod-body a,.feed-box .feed-forward .feed-quote p.album a {
display: inline-block;
margin-right: 1px;
margin-bottom: 1px;
vertical-align: top;
*vertical-align: middle;
_vertical-align: middle;
font-size: 12px;
}

.feed-box .feed-tblog-vote .mod-body img,.feed-box .feed-blog .mod-body img,.feed-box .feed-forward-video .mod-body img,.feed-box .feed-share-video .mod-body img,.feed-box .feed-share-group .mod-body img,.feed-box .feed-share-friend .mod-body img,.feed-box .feed-event .mod-body img,.feed-box .feed-app .mod-body .pic img {
padding: 4px 0px;
/*border: 1px solid #eee;*/
}

.feed-box .feed-album .mod-body img,.feed-box .feed-share-photo .mod-body img,.feed-box .feed-forward .feed-quote p.album img,.feed-box .feed-share .feed-quote p.album img { /*background: #fff;*/
max-width: 150px;
padding: 0px;
}

.feed-box .feed-share-album .mod-body img,.feed-box .feed-share-photo .mod-body img {
_ZOOM: expression(function(x){x.style.zoom=1; if (x.width>150)x.style.width=150; x.onload=function(){if(this.width>150)this.style.width=150}}(this));
max-width:150px;
}

.feed-box .feed-blog .mod-body img,.feed-box .feed-forward-blog .mod-body img {
_ZOOM: expression(function(x){x.style.zoom=1; if (x.width>180)x.style.width=180; x.onload=function(){if(this.width>180)this.style.width=180}}(this));
max-width:180px;
}

.feed-box .feed-event .mod-body a.feed-app-img img {
width: 120px;
margin: 5px 0 0;
}

.feed-box .feed-blog .mod-body a:hover img,.feed-box .feed-album .mod-body a:hover img,.feed-box .feed-share-photo .mod-body a:hover img,.feed-box .feed-event .mod-body a:hover img,.feed-box .feed-share .feed-quote p.album a:hover img {
border-color: #1b5891;
}

.feed-box .feed-album .mod-body .more,.feed-box .feed-share-photo .mod-body .more {
padding-top: 3px;
}

.feed-box .feed-poke {

}

.feed-box p.body-desc,.feed-box .feed-con .mod-head span.txt,.feed-box .feed-poke .feed-con .mod-head,.feed-box .feed-forward .feed-con .mod-head,.feed-box .feed-share .feed-con .mod-head,.feed-box .feed-forward .feed-con .mod-head,.feed-box .feed-app-wenda .feed-con p.body-desc,.feed-box .feed-blog .feed-con p.body-desc,.feed-box .feed-app .feed-con p.body-desc { /*color: #333;*/
word-wrap: break-word;
word-break: break-all;
}

.feed-box .feed-blog .feed-con p.body-desc a,.feed-box .feed-blog .feed-con p.body-desc a:visited {
font-size: 12px;
font-family: \5B8B\4F53, SimSun;
}

.feed-box .feed-manager .feed-con .mod-head span.txt img,.feed-box .feed-forward-blog .feed-con .mod-head span.txt img,.feed-box .feed-share-blog .feed-con .mod-head span.txt img,.feed-box .feed-say .feed-con .mod-head span.txt img,.feed-box .feed-poke .feed-con .mod-head img,.feed-box .feed-forward .feed-con .mod-head img,.feed-box .feed-share .feed-con .mod-head img {
margin: 0 5px;
vertical-align: middle;
}

.feed-box .feed-manager .feed-con .mod-foot {
padding: 0;
/*color: #666;*/
}

.feed-box .feed-say .mod-body p {
font-size: 14px;
/*color: #333;*/
line-height: 22px;
}

.feed-box .feed-subscribe {

}

.feed-box .feed-forum {

}

.feed-box .feed-more {
padding-top: 10px;
}

.feed-box .feed-more .btn-more {
display: block;
width: auto;
height: 14px;
line-height: 14px;
padding: 7px 0;
text-align: center;
background: url('http://s3.suc.itc.cn//i/home/d/bg_feed_more_h30.gif') repeat-x;
border: 1px solid #d8e1ea;
cursor: pointer;
color: #0b60af;
}

.feed-box .feed-more .btn-more.over {
background-position: 0 -30px;
}

.feed-box .feed-more .btn-more i.icon-arrow-down {
display: inline-block;
width: 12px;
height: 12px;
background: url('http://s3.suc.itc.cn//i/home/d/icon_tools.gif') no-repeat -64px -16px;
position: relative;
right: 0;
top: 2px;
}

#ie6 .feed-box .feed-more .btn-more i.icon-arrow-down {
top: 0px;
}

#ie7 .feed-box .feed-more .btn-more i.icon-arrow-down {
top: -2px;
}

/*
* feed fix
*/
.feed-box .feed-con .feed-share-reason {
line-height: 12px;
color: #333;
font-family: \5B8B\4F53, SimSun;
padding: 5px 0 10px 0;
}

.feed-box .feed-con .feed-share-reason span {
color: #666;
}

.feed-con .mod-head span.txt a,.feed-box .feed-item .feed-quote .flake-body h3 span.say a { /*    color:#0B60AF;*/
font-weight: normal;
font-size: 12px;
margin: 0 2px;
}

.feed-con .mod-head span.txt a {
font-size: 14px;
display: inline-block;
}

.feed-event .feed-con .mod-head span.user-suffix {
display: inline-block;
}

.feed-event-wenda .feed-con .mod-head span.txt a {
display: inline;
}

/**
* pic preview
*/
.feed-con .tblog-preview {
margin-top: 10px;
}

.tblog-preview .preview-small {
margin-bottom: 10px;
}

.tblog-preview .preview-small a,.tblog-preview .preview-small img {
display: inline-block;
/*border:1px solid #EEE;
padding:5px 0;
margin-right:10px;
background:#FFF;*/
vertical-align: top;
_ZOOM: expression(function(x){x.style.zoom=1;if(x.width>150)x.style.width=150;x.onload=function(){if(this.width>150)this.style.width=150}}(this));
max-width:150px;
}

.tblog-preview .preview-small img.thumb-photo {
cursor: url(http://s2.suc.itc.cn/i/default/my/img/big.cur) 6 8, pointer;
cursor: url(http://s2.suc.itc.cn/i/default/my/img/big.cur) \9

}

.tblog-preview .preview-small img.thumb-video {
cursor: pointer;
display: inline-block;
}

.tblog-preview .preview-small a {
position: relative;
overflow: hidden;
margin: 0 10px 0 0;
}

.sentence-comments-box .tblog-preview .preview-small a.thumb-video,.feed-sentence .tblog-preview .preview-small a.thumb-video,.feed-tblog-video .tblog-preview .preview-small a.thumb-video,.feed-forward-video .tblog-preview .preview-small a.thumb-video,.feed-forward-sentence .tblog-preview .preview-small a.thumb-video,.feed-sentence-video .tblog-preview .preview-small a.thumb-video,.feed-forward-tblog .tblog-preview .preview-small a.thumb-video {
max-height: 98px;
_height: expression(this.scrollHeight > 98 ? "98px" : "auto");
}

.feed-tblog-video .tblog-preview .preview-small img,.feed-forward-video .tblog-preview .preview-small img,.feed-sentence-video .tblog-preview .preview-small img {
padding: 0;
}

.tblog-preview .preview-small .iMask {
position: absolute;
_position: relative;
float: left;
_height: 400px;
_width: 400px;
overflow: hidden;
_margin: -200px;
top: 0px;
_top: 50%;
left: 0px;
_left: 50%;
right: 0px;
bottom: 0px;
cursor: pointer;
}

.tblog-preview .preview-small .iMask b {
background: url('http://s3.suc.itc.cn//i/home/d/icon_mask.png') no-repeat scroll 0 0 transparent;
display: block;
float: left;
height: 200px;
left: 50%;
margin: -100px 0 -300px -100px;
position: relative;
top: 50px;
_top: 50%;
width: 200px;
}

.tblog-preview .preview-small .iMask b {
_background: none;
FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//s2.suc.itc.cn/i/home/d/icon_mask.png',sizingMethod='crop' );
}

.tblog-preview .preview-small a:hover .iMask b {
background-position: 0 -200px;
FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//s2.suc.itc.cn/i/home/d/icon_mask_over.png',sizingMethod='crop' );
}

.tblog-preview .preview-big-picture img {
cursor: url(http://s2.suc.itc.cn/i/default/my/img/small.cur) 6 8, pointer;
cursor: url(http://s2.suc.itc.cn/i/default/my/img/small.cur) \9;

}

.feed-tblog-video .tblog-preview .preview-big,.tblog-preview .preview-big {
overflow: hidden;
padding: 7px 10px 9px;
/*background:#F6F6F6;
border:1px solid #E0E0E0;*/
margin-bottom: 10px;
}

.feed-tblog-video .tblog-preview .preview-big {
padding: 7px 10px 9px 10px;
}

.feed-quote .tblog-preview .preview-big {
padding: 8px 0 0 0;
background: url('http://s3.suc.itc.cn//i/home/d/img_line_bg.gif') repeat-x top;
border: 0;
}

.tblog-preview .preview-command-text {
color: #507990;
margin-top: 3px;
margin-bottom: 8px;
height: 16px;
line-height: 16px;
overflow: hidden;
text-overflow: clip;
}

.tblog-preview .preview-command-text a {
line-height: 14px;
font-size: 12px;
}

.tblog-preview .preview-command-text span {
cursor: pointer;
float: left;
}

.tblog-preview .preview-command-text span:hover {
text-decoration: underline;
}

.tblog-preview .preview-command-text span {
height: 14px;
font-size: 12px;
background: url('http://s3.suc.itc.cn//i/home/d/icon_zoom_command.gif') no-repeat;
display: inline-block;
padding-left: 14px;
margin-right: 6px;
line-height: 14px;
}

.tblog-preview .preview-command-text i {
height: 14px;
font-style: normal;
display: inline-block;
margin-right: 6px;
float: left;
color: #CBCBCB;
line-height: 14px;
}

.tblog-preview .preview-command-text span.img-away {
background-position: 0 0;
}

.tblog-preview .preview-command-text span.img-source {
background-position: 0 -12px;
}

.tblog-preview .preview-command-text span.img-left-rotation {
background-position: 0 -24px;
margin-right: 10px
}

.tblog-preview .preview-command-text span.img-right-rotation {
background-position: 0 -36px;
}

span.icon-video,.tblog-preview .preview-command-text span.icon-video,.feed-tblog span.icon-video {
background-image: url('http://s3.suc.itc.cn//i/home/d/icon_video.gif');
background-position: 0px 0px;
display: inline-block;
height: 14px;
padding-left: 14px;
vertical-align: middle;
}

.feed-say .tblog-preview .preview-big .preview-big-picture,.feed-say .tblog-preview .preview-big .preview-big-video,.feed-quote .tblog-preview .preview-big .preview-big-picture,.feed-quote .tblog-preview .preview-big .preview-big-video {
position: relative;
zoom: 1;
}

.feed-more .btn-no-more,.feed-more .btn-more {
/*background: url('http://s3.suc.itc.cn//i/home/d/bg_feed_more_h32.gif') repeat-x scroll 0 0 transparent;
color: #0B60AF;
border: 1px solid #BFD2DF;*/
background-repeat: repeat-x;
cursor: pointer;
display: block;
height: 18px;
line-height: 18px;
padding: 7px 0;
text-align: center;
width: auto;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}

.feed-more .btn-more a {
font-size: 14px;
font-family: \5B8B\4F53, SimSun;
}

.feed-more .btn-no-more {
cursor: auto;
color: #666;
}

/*usercenter feed-forword-photo*/
.page-home .feed-box .feed-forward-photo .feed-quote .flake-body p span.pic {
padding-right: 0;
min-width:160px;
_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>160?"160px":"");
}
.page-home .feed-box .feed-forward-photo .feed-quote .flake-body p span.txt {
padding-left:10px;
}
.person .feed-box .feed-tblog-forward .body-desc .pic img,
.feed-box .feed-forward-album .mod-body img,
.feed-box .feed-forward-photo .mod-body img {
margin:0 0 1px 1px;
max-width: 149px;
_ZOOM: expression(function(x){x.style.zoom=1; if(x.width>149)x.style.width=149; x.onload=function(){if(this.width>149)this.style.width=149}}(this));
}
.feed-box .feed-forward-album .feed-quote .flake-body p span.pic {
padding:5px 0 0 0;
}
.feed-box .feed-forward-album .feed-quote .flake-body p.single-pic span.pic {
width: 150px;
padding-right: 12px;
}
.person .feed-box .feed-tblog-forward .feed-quote .flake-body p.blog-single-pic .pic img{
_ZOOM: expression(function(x){x.style.zoom=1; if (x.width>180)x.style.width=180; x.onload=function(){if(this.width>180)this.style.width=180}}(this));
max-width:180px;
}

.person .feed-box .feed-album .mod-body,
.person .feed-box .feed-share-photo .mod-body {
padding-right:210px;
}
.person .feed-tblog-forward p span.pic,
.person .feed-forward-album p span.pic {
width:456px;
}

.person .feed-tblog-forward p.single-pic span.pic,
.person .feed-forward-album p.single-pic span.pic {
width:auto;
}

/* feed 删除按钮 */
.feed-box .feed-delete {
visibility: hidden;
}
.feed-box.hover .feed-delete {
visibility: visible;
}

.feed-box .feed-quote .pic a {
display: inline-block;
overflow: hidden;
}
.clear {
clear:both;
}
.fl {
float:left;
}
.fr {
float:right;
}
i, em {
font-style:normal;
}
a {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
#header {
margin-top: 20px;
_overflow:hidden;
}
#footer {
clear:both;
}
.innerFooter {
padding:20px 0 0 0;
text-align:center;
color:#768e9a;
}
#footer .contact a {
color:#768e9a;
}
body {
background:url('http://s3.suc.itc.cn//s/home/d/bg_body_bg.jpg') repeat-x top #e7f0f7;
line-height:180%;
}
#container {
width:950px;
margin:0 auto;
}
#main {
margin:10px 0 0 0;
}
.content {
width:720px;
}
.header-face {
width: 175px;
height: 175px;
padding: 4px;
/*background: #fff;
background: rgba(255,255,255,0.8);*/
margin-right: 10px;
position: relative;
}
.header-face .img {
width:175px;
height:175px;
overflow:hidden;
}
.header-face .img img {
width:175px;
height:175px;
}
.header-face .inset {
display:block;
width:175px;
height:175px;
position:absolute;
top:4px;
left:4px;
-webkit-box-shadow:inset 0 0 10px #666;
-moz-box-shadow:inset 0 0 10px #666;
box-shadow:inset 0 0 10px #666;
}
.main-info .title {
margin-bottom:5px;
width: 755px;
}
.main-info .title h1 {
display:inline;
font: 36px/40px  \5FAE\8F6F\96C5\9ED1, "Microsoft YaHei",\9ED1\4F53,SimHei,\5B8B\4F53, SimSun , Verdana, Arial, sans-serif;
/*color:#333;*/
}
.main-info .title span {
padding:0 0 0 10px;
/*color:#666;*/
}
.main-info .intro {
/*color:#666;*/
height:43px;
overflow:hidden;
width:700px;
line-height: 180%;
}
.main-info .intro a.more {
/*color:#000;*/
margin-left:0px;
}
.main-leavemsg-wrapper {
margin: 8px 0 0 0;
clear: both;
zoom: 1;
}
.main-leavemsg-wrapper .ui-btn{
vertical-align: middle;
margin-right:20px;
}
.main-leavemsg-wrapper:after {
display: block;
height: 0;
font-size:0;
content: ".";
clear: both;
visibility: hidden;
}
.main-leavemsg-wrapper .view-leavemsg {
margin:8px 0 0 0;
}
.main-leavemsg-wrapper .view-leavemsg a {
margin:0 10px 0 0;
}
.main-leavemsg-wrapper button {
border: none;
cursor: pointer;
vertical-align: middle;
margin:0;
padding:0;
background-repeat:no-repeat;
display:inline-block;
}
.main-leavemsg-wrapper button.leavemsg-btn {
width:59px;
height:29px;
font-size:14px;
background-position:0 0px;
}
.main-leavemsg-wrapper button.leavemsg-btn-hover{
width:59px;
height:29px;
font-size:14px;
background-position:-59px 0px;
/*color: #666;*/
}

.main-leavemsg-wrapper span.btn-attention-wraper{
display:inline-block;
vertical-align:middle;
}
.main-leavemsg-wrapper span.btn-attention,.main-leavemsg-wrapper span.btn-attention-add{
display:inline-block;
vertical-align:middle;
font-size:14px;
margin-right:10px;
}
.main-leavemsg-wrapper span.btn-attention a,.main-leavemsg-wrapper span.btn-attention-add a{
display:inline-block;
background: url('http://s3.suc.itc.cn//s/home/d/btn_sprite.gif') no-repeat;
font-size:14px;
height:30px;
line-height:30px;
}
.main-leavemsg-wrapper span.btn-attention a{
background-position:0 -151px;
width:38px;
padding-left:23px;
color:#fff;
}
.main-leavemsg-wrapper span.btn-attention a:hover{
background-position:0 -181px;
text-decoration:none;
}
.main-leavemsg-wrapper span.btn-attention-add a{
background-position:0 -91px;
width:40px;
padding-left:34px;
color:#fff;
}
.main-leavemsg-wrapper span.btn-attention-add a:hover{
background-position:0 -121px;
text-decoration:none;
}

.main-leavemsg-wrapper span.btn-attention-already,.main-leavemsg-wrapper span.btn-attention-each-other{
display:inline-block;
background: url('http://s3.suc.itc.cn//s/home/d/btn_sprite.gif') no-repeat;
font-size:14px;
height:30px;
line-height:30px;
vertical-align:middle;
margin-right:25px;
}
.main-leavemsg-wrapper span.btn-attention-already{
background-position:0 -60px;
width:84px;
padding-left:20px;
color:#656565;
height:31px;
}
.main-leavemsg-wrapper span.btn-attention-already em{
display:inline-block;
width:49px;
}
.main-leavemsg-wrapper span.btn-attention-already a{
display:inline-block;
color:#979797;
}
.main-leavemsg-wrapper span.btn-attention-already a:hover{
text-decoration:none;
}
.main-leavemsg-wrapper span.btn-attention-each-other{
background-position:0 -30px;
width:97px;
padding-left:20px;
color:#656565;
height:30px;
}
.main-leavemsg-wrapper span.btn-attention-each-other em{
display:inline-block;
width:61px;
}
.main-leavemsg-wrapper span.btn-attention-each-other a{
display:inline-block;
color:#979797;
}
.main-leavemsg-wrapper span.btn-attention-each-other a:hover{
text-decoration:none;
}

.main-nav-wrapper {
width:755px;
height:44px;
/*border:#dfc06e 1px solid;*/
margin:10px 0 0 0;
}
.main-nav {
height:44px;
/*width:753px;
border:#fff 1px solid;
background:#ffe88b;*/
overflow:hidden;
}
.main-nav li {
float:left;
/*border-right:#f2cd65 solid 1px;*/
}
.main-nav li a {
display:block;
float:left;
height:44px;
line-height:44px;
padding:0 15px;
/*border-right:#fff solid 1px;
color:#000;*/
font-size:14px;
}
.main-nav li.active a {
font-weight:bold;
}
/*.main-nav li a:hover,
.main-nav li.active a {
background:#fff2ac;
text-decoration:none;
}
.main-nav li.curr a {
background:#fff2ac;
}*/

.main-nav li.more-left,.main-nav li.more-right{
border:none;

}
.main-nav li.more-left a,
.main-nav li.more-right a,
.main-nav li.more-left a:hover,
.main-nav li.more-right a:hover {
border:none;
/*background:url('http://s3.suc.itc.cn//s/home/d/icon_nav_more.gif') no-repeat;*/
background-repeat:no-repeat;
}
.main-nav li.more-left a{
background-position:50px 14px;
padding-right:25px;
}
.main-nav li.more-right a{
background-position:10px -56px;
padding-left:25px;
width:1px;
}
.main-nav li.more-left a:hover {
background-position:50px 14px;
}
.main-nav li.more-right a:hover {
background-position:10px -56px;
}

.publish-wrapper,
.main-nav-wrapper,
.main-nav {
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}
.header-face, .header-face .img, .header-face .inset {
-webkit-border-radius:8px;
-moz-border-radius:8px;
border-radius:8px;
}
/*
.header-face, .main-nav-wrapper {
-webkit-box-shadow: 0 0 4px #999;
-moz-box-shadow: 0 0 4px #ccc;
box-shadow: 0 0 4px #999;
}*/
.header-face .set-face{
display:block;
width:175px;
height:175px;
position:absolute;
left:4px;
bottom:4px;
_bottom:2px;
z-index:5;
background:url('http://s3.suc.itc.cn//s/home/d/opacity.gif');
overflow:hidden;
}
.header-face .set-face span{
display:none;

}
.header-face .set-face:hover{
text-decoration:none;
}
.header-face .set-face:hover span{
display:block;
height:20px;
width:175px;
background:#000;
line-height:20px;
text-align:center;
color:#fff;
opacity:0.6;
filter:alpha(opacity=60);
position:absolute;
left:0px;
bottom:0px;
-moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
-webkit-border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
cursor:pointer;
}
.main-photolist-wrapper {
}
.noborder, .rtbar-wrapper ul.noborder {
border:0;
}
#main .grid-220 {
margin:0 0;
}
.main-nav-extend{
display:none;
}

