.card-box .clearfix{
clear:both;
overflow:hidden;
zoom:1;
height:auto;
}

.card-win-wrapper *,.card-box *{
border: 0;
outline: 0;
vertical-align: baseline;
font-size:12px;
text-decoration:none;
}
.card-box p,.card-box h1,.card-box h2, .card-box h3, .card-box h4{
margin:0;
padding:0;
}
.card-box{
font-size:12px;
border:#9a9c9b 1px solid;
-webkit-box-shadow:0px 2px 5px #999;
-moz-box-shadow:0px 2px 5px #999;
box-shadow:0px 2px 5px #999;
background:#fff;
font-family: simsun;
line-height: 14px;
}
.card-win-clew h3 .card-icon-add,
.card-win-clew .boxB span,
.card-box .jt-top,
.card-box .jt-bottom,
.card-box .jt-right,
.card-man,.card-woman{
background:url('http://s3.suc.itc.cn//i/card/d/card_icon_bg.gif') no-repeat;
}
.card-button-attention a,
.card-button-attention-add a,
.card-button-attention-already,
.card-button-attention-each-other,
.card-button-found-disabled,
.card-button-found,
.card-button-found-hover,
.card-button-found-down{
display:inline-block;
background:url('http://s3.suc.itc.cn//i/card/d/card_button_bg.gif') no-repeat;
}
.card-button-attention{
width:64px;
}
.card-button-attention a{
background-position:-17px -16px;
width:39px;
height:19px;
padding:7px 0 0 25px;
*height:19px;
*padding:7px 0 0 25px;
padding-top:7px\9;
color:#fff!important;
text-decoration:none!important;
}
.card-button-attention a:hover{
background-position:-103px -16px;
}
.card-button-attention-add{
width:81px;
}
.card-button-attention-add a{
background-position:0 -46px;
width:41px;
height:19px;
padding:7px 0 0 40px;
*height:19px;
*padding:7px 0 0 40px;
height:19px\0;
padding:7px 0 0 40px\0;
color:#fff!important;
text-decoration:none!important;
}
.card-button-attention-add a:hover{
background-position:-86px -46px;
}
.card-button-attention-already{
width:91px;
background-position:-186px -16px;
}
.card-button-attention-already em{
width:39px;
line-height:14px;
padding-top:7px;
height:19px;
*padding-top:7px;
*height:19px;
padding-top:7px\0;
height:19px\0;
display:block;
color:#666;
padding-left:20px;
text-align:left;
font-style:normal;
float:left;
}
.card-button-attention-already a{
float:left;
display:block;
width:32px;
line-height:14px;
height:19px;
padding-top:7px;
*padding-top:7px;
*height:19px;
padding-top:7px\0;
height:19px\0;
color:#999!important;
text-decoration:none!important;
text-align:center;
}
.card-button-attention-each-other{
width:105px;
background-position:-172px -46px;
}
.card-button-attention-each-other em{
width:52px;
line-height:14px;
height:19px;
padding-top:7px;
*padding-top:7px;
*height:19px;
padding-top:7px\0;
height:19px\0;
display:block;
color:#666;
padding-left:20px;
text-align:left;
font-style:normal;
float:left;
}
.card-button-attention-each-other a{
float:left;
display:block;
width:32px;
line-height:14px;
height:19px;
padding-top:7px;
*padding-top:7px;
*height:19px;
padding-top:7px\0;
height:19px\0;
color:#999!important;
text-decoration:none!important;
text-align:center;
}
.card-button-found-disabled,
.card-button-found,
.card-button-found-hover,
.card-button-found-down{
width:47px;
height:25px;
*padding-top:4px;
padding-top:5px\0;
color:#fff;
border:0;
cursor:pointer;
margin:0 10px 0 auto!important;
vertical-align:middle;
float:left;
font-size:12px;
}
.card-button-found-disabled{
background-position:0 -100px;
cursor:auto;
}
.card-button-found{
background-position:-52px -100px;
}
.card-button-found-hover{
background-position:-104px -100px;
}
.card-button-found-down{
background-position:-156px -100px;
}
.card-win-clew{
font:12px/20px '����';
text-align:left;
color:#333;
text-align:center;
margin:0;
}
.card-win-clew input{
margin:0;
}
.card-win-clew p{
text-align:left;
margin-bottom:15px;
}
.card-win-clew p a,
.card-win-clew h2 a,
.card-win-clew h3 a,
.card-win-clew li a{
color:#0B60AF;
text-decoration:none;
}
.card-win-clew p a:hover,
.card-win-clew h2 a:hover,
.card-win-clew h3 a:hover,
.card-win-clew li a:hover{
color:#0B60AF;
text-decoration:underline;
}
.card-win-clew h2{
color:#666;
text-align:left;
font:300 12px/20px '����';
margin-bottom:10px;
}
.card-win-clew h3{
text-align:left;
font:300 12px/14px '����';
margin-bottom:15px;
height:18px;
padding:2px 0 0 12px;
}
.card-win-clew h3 .card-icon-add{
width:8px;
height:8px;
display:inline-block;
vertical-align:middle;
background-position:-59px -16px;
margin:3px 5px 0 auto;
*margin:2px 5px 0 auto;
_margin:2px 3px 0 auto;
margin:2px 5px 0 auto\0;
float:left;
}
.card-win-clew ul{
margin:0;
margin-bottom:10px;
padding:0;
line-height:20px;
}
.card-win-clew li{
height:22px;
line-height:20px;
_height:18px;
_padding-top:4px;
height:20px\0;
padding-top:2px\0;
width:154px;
overflow:hidden;
float:left;
margin-top:5px;
text-align:left;
font-family:'arial';
white-space:nowrap;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.card-win-clew li label{
display:block;
width:100%;
height:100%;
line-height:20px;
}
.card-win-clew li input{
margin:-2px 10px 0;
*margin:-2px 6px 0;
_margin:-4px 6px 0;
margin:-3px 6px 0\0;
vertical-align:middle;
}
.card-win-clew li.now{
background:#86c8ea;
color:#fff;
}
.card-win-clew .text-input{
width:182px;
height:15px;
border:1px #ccc solid;
color:#333;
text-align:left;
padding:4px;
margin:0 5px 5px 0;
float:left;
}
.card-win-clew .input-error{
color:#D62E09;
float:left;
width:100%;
}
.card-win-clew .input-clew{
color:#999;
float:left;
width:100%;
}
.card-win-clew .boxA{
padding:5px 5px 10px 5px;
width:108px;
text-align:left;
}
.card-win-clew .boxA p{
margin:0 auto 5px;
text-align:left;
}
.card-win-clew .boxB{
width:172px;
text-align:center;
padding:20px 0;
}
.card-win-clew .boxB p{
font:14px/24px '����';
text-align:center;
margin:0 auto;
}
.card-win-clew .boxB span{
width:24px;
height:24px;
margin:-5px 10px 0 auto;
display:inline-block;
vertical-align:middle;
}
.card-win-clew .boxB span.succeed{
background-position:0 0;
width:25px;
}
.card-win-clew .boxB span.unsuccessful{
background-position:-30px 0;
}
.card-win-clew .boxC{
padding:10px 50px;
width:215px;
text-align:left;
}
.card-win-clew .boxC p{
margin-bottom:10px;
}
.card-win-clew .boxD{
padding:15px 20px 10px;
width:308px;
text-align:center;
}
.card-win-clew .boxD p{
margin-bottom:15px;
}
.card-win-clew .boxD .cancel-found{
float:left;
margin-top:3px;
}
.card-win-clew .boxD .cancel-found a{
line-height:18px;
}
.jquery-btn-boxA .dialog-button-container{
background:#F2F2F2;
border-top:1px #DDD solid;
padding:10px 0;
}
.jquery-btn-boxB .dialog-button-container{
padding:0 0 10px;
}

.card-box{
width:300px;
position:relative;
}
.card-box .card-con{
padding:6px 0 0 0;
width:300px;
text-align:center;
min-height:50px;
_height:50px;
}
.card-box .data-load{
padding:30px 0;
width:100%;
text-align:center;
color:#333;
font:12px/20px '����';
}
.card-box .data-error{
padding:12px 0 0;
width:100%;
text-align:center;
color:#333;
font:12px/20px '����';
}
.card-box .data-load-icon{
width:16px;
height:16px;
overflow:hidden;
background:url('http://s3.suc.itc.cn//i/card/d/data_load.gif') no-repeat;
margin:0 auto;
}
.card-box .jt-top,
.card-box .jt-bottom,
.card-box .jt-right{
font-size:1px;
position:absolute;
width:16px;
height:8px;
left:15px;
z-index:2;
}
.card-box .jt-top{
top:-8px;
background-position:0 -29px;
}
.card-box .jt-bottom{
background-position:-21px -29px;
bottom:-8px;
}
.card-box .jt-right{
background-position:-42px -29px;
width:8px;
height:16px;
top:16px;
left:auto;
right:-8px;
}
.card-box .card-con .con-pt{
width:290px;
padding:0 0 0 10px;
padding-bottom:8px;
}
.card-box .card-con .con-pt .head-pic{
width:50px;
height:50px;
float:left;
padding-top:4px;
margin-right:8px;
_margin-right:7px;
}
.card-box .card-con .con-pt .head-pic a img{
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}
.card-box .card-con .con-pt h2,
.card-box .card-con .con-pt h3,
.card-box .card-con .con-pt h4{
text-align:left;
font:300 12px/14px 'simsun';
height:18px;
padding-top:2px;
*height:16px;
*padding-top:4px;
height:16px\0;
padding-top:4px\0;
float:left;
width:224px;
}
.card-box .card-con .con-pt h2 a,
.card-box .card-con .con-pt h3 a,
.card-box .card-con .con-pt h4 a{
color:#4e7891;
text-decoration:none;
}
.card-box .card-con .con-pt h2 a:hover,
.card-box .card-con .con-pt h3 a:hover,
.card-box .card-con .con-pt h4 a:hover{
color:#0B60AF;
text-decoration:underline;
}
.card-box .card-con .con-pt h4 a{
margin:0 5px 0 0;
}
.card-box .card-con .con-pt h2 a{
font-family:\5B8B\4F53, simsun;
}
.card-man,.card-woman{
width:9px;
height:12px;
margin:1px 8px 0 auto;
*margin:0 8px 0 auto;
_margin:0 5px 0 auto;
margin:0 8px 0 auto\0;
float:left;
}
.card-woman{
background-position:-59px 0;
}
.card-man{
background-position:-73px 0;
}
.card-box .card-con .con-text{
width:280px;
font:12px/18px 'simsun';
text-align:left;
color:#666;
padding:0 0 10px 10px;
word-wrap:break-word;
}
.card-box .card-con .con-text a{
color:#0B60AF;
text-decoration:none;
}
.card-box .card-con .con-text a:hover{
color:#0B60AF;
text-decoration:underline;
}
.card-box .card-con .con-text span.title{
color:#999;
white-space:nowrap;
padding:0;
background: none;
}
.card-box .card-con .con-function{
margin-top:10px;
height:26px;
background:#F6F6F6;
padding:14px 10px 0 10px;
text-align:left;
}
.card-box .card-con .con-function span{
margin-top:-7px;
float:right;
}
.card-box .card-con .con-function span.card-button-attention-each-tabs{
float:left;
display:block;
height:15px;
margin-top:-1px;
}
.card-box .card-con .con-function span.card-button-attention-each-tabs a{
display:inline-block;
vertical-align:middle;
font-family:simsun;
margin-right:4px;
padding-right:4px;
}
.card-box .card-con .con-function span.card-button-attention-each-tabs a.card-item{
background: url('http://s3.suc.itc.cn//i/card/d/card_item_line.gif') no-repeat right 0;
padding:0 5px 0 0;
}
.card-box .card-con .con-function span.card-button-attention-each-tabs a.card-item-last{
}
.custom-dialog-notitle .dialog-title-container{
display:none;
}
.card-box .card-con .con-function a{
color:#0B60AF;
text-decoration:none;
line-height:14px;
}
.card-box .card-con .con-function a:hover{
color:#0B60AF;
text-decoration:underline;
}
/**/
.card-invite-follow-bg{
background: #e6f7ff;
padding:5px 10px;
text-align:left;
font-size:12px;
}
.card-invite-follow-bg input,.card-invite-follow-bg span{
vertical-align: middle;
}
.card-invite-follow-bg input{
margin: 0 5px 0 0;
*margin: -2px 5px 0 0;
_margin: -3px 5px 0 0;
}
.card-invite-follow-wrapper{
width:342px;
padding:0 9px 9px 9px;
font-size:14px;
}
.card-invite-follow-wrapper .red{
color:#be3a2e;
}
.card-invite-follow-wrapper .title{
color:#4a808c;
line-height: 30px;
}
.card-invite-follow-wrapper .textarea-wrapper{

}
.card-invite-follow-wrapper .textarea-wrapper .invite-textarea{
border:#b1c7d5 1px solid;
border-radius: 5px;
resize:none;
width:330px;
height:80px;
font-size:12px;
padding:3px 5px;
overflow: auto;
}
.card-invite-follow-wrapper .textarea-wrapper .invite-textarea-err{
border:#c63739 1px solid;
background: #ffeae9;
}
.card-invite-follow-bottom{
margin:8px 0 0 0;
overflow: hidden;
zoom:1;
padding:0 0 0px 0;
}
.card-invite-follow-bottom .selector{
float:left;
}
.card-invite-follow-bottom .selector input,.card-invite-follow-bottom .selector span{
vertical-align: middle;
}
.card-invite-follow-bottom .selector input{
*margin:-3px 0 0 0;
}
.card-invite-follow-bottom .btn{
float:right;
}
.card-invite-follow-bottom .btn em{
font-style:normal;
}
.card-invite-follow-bottom .btn span.txt{
margin-right:10px;
font-size:14px;
color:#666;
}
.card-invite-follow-bottom .btn span.red{
color:#be3a2e;
}
.card-invite-follow-bottom .btn .ui-btn,.card-invite-follow-bottom .btn span{
vertical-align: middle;
}
/**/
.card-win-wrapper{
padding:15px 20px 10px 20px;
border:#cecece 1px solid;
box-shadow:#ddd 0px 0px 3px;
width:134px;
position:absolute;
background: #fff;
}
.card-win-wrapper .card-win-con{
color:#666;
line-height: 150%;
padding:0 0 15px 0;
}
.card-win-wrapper .card-win-btn{
text-align:center;
}
.card-win-wrapper .card-win-btn a{
display:inline-block;
*display:inline;
*zoom:1;
width:51px;
height:20px;
line-height: 20px;
text-align:center;
color:#6e9fbf;
background: url('http://s3.suc.itc.cn//i/card/d/card_win_btn.jpg') no-repeat;
overflow: hidden;
}
.card-win-wrapper .card-win-btn a:hover{
background-position: 0 -20px;
color:#fff;
text-decoration:none;
}
.card-win-wrapper .card-win-btn a.cancel{
background-position: -51px 0;
color:#979797;
margin:0 0 0 10px;
}
.card-win-wrapper .card-win-btn a.cancel:hover{
background-position: -51px -20px;
color:#979797;
}
/*.sidebar-inner .sidebar,.menu-top,ul.main-nav,.rightbar {
background: url('http://s3.suc.itc.cn//themes/d/trans_bg.png') repeat 0 0;
background: rgba(255, 255, 255, 0.5);
}*/
.skin-dummy {
display: none;
height: 175px;
}

#skin_sprite {
position: fixed;
*position: absolute;
right: 0;
top: 30px;
*top: expression(documentElement.scrollTop +30 +   "px");
width: 56px;
height: 64px;
display: block;
z-index: 98;
background: url('http://s3.suc.itc.cn//themes/d/sprite.png') no-repeat 0 0;
_background: none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://s3.suc.itc.cn/themes/d/sprite0.png'
);
cursor: pointer;
}

#skin_bar {
position: fixed;
*position: absolute;
top: 30px;
*top: expression(documentElement.scrollTop +30 + "px");
left: 0;
width: 100%;
height: 175px;
z-index: 980;
overflow: hidden;
margin-top: -175px;
background: url('http://s3.suc.itc.cn//themes/d/bg.png') repeat-x;
text-align: center;
display: none;
}

#skin_bar .themes-wrapper {
height: 130px;
width: 1038px;
margin: 0 auto;
}

#skin_bar .icons {
text-align: left;
width: 960px;
height: 100%;
float: left;
overflow: hidden;
}

#skin_bar .theme-page-wrapper {
width: 39px;
height: 61px;
margin-top: 37px;
float: left;
}

#skin_bar .prev,#skin_bar .next {
display: block;
height: 61px;
background: url('http://s3.suc.itc.cn//themes/d/anchor.png') no-repeat 0 0;
width: 39px;
}

#skin_bar .prev:hover {
background-position: 0 -61px;
}

#skin_bar .next {
background-position: -40px 0;
}

#skin_bar .next:hover {
background-position: -40px -61px;
}

#skin_bar .icons .list span {
float: left;
margin: 18px 17px;
background-repeat: no-repeat;
background-position: center center;
}

#skin_bar a.skin {
float: left;
text-decoration: none;
width: 120px;
height: 90px;
overflow: hidden;
padding: 3px;
background: url('http://s3.suc.itc.cn//themes/d/masks.png') no-repeat 0 0;
_background-image: url('http://s3.suc.itc.cn//themes/d/masks.gif');
color: white;
}

#skin_bar a.skin .title {
display: inline-block;
width: 120px;
cursor: pointer;
margin: 73px 0 0;
*margin: 76px 0 0;
text-align: center;
}

#skin_bar a.skin:hover {
background-position: -260px 0;
}

#skin_bar a.skin.current,#skin_bar a.skin.current:hover {
background-position: -130px 0;
}

#skin_bar .group {
padding: 18px 9px 0;
display: inline-block;
}

#skin_bar .groups .focused {
background: url('http://s3.suc.itc.cn//themes/d/group.png') no-repeat center top;
}

#skin_bar .groups .focused a {
font-weight: bold;
color: #333;
text-decoration: none;
cursor: default;
}

#skin_bar .theme-extends {
height: 42px;
background: white;
border-top: solid 1px #BBB;
border-bottom: solid 3px #4C4C4C;
}

#skin_bar .theme-actions-wrapper {
width: 950px;
margin: -1px auto 0;
overflow: hidden;
}

#skin_bar .theme-actions {
float: right;
margin-top: 8px;
}

#skin_bar .theme-actions .btn-cancel {
margin-left: 10px;
}

#skin_bar .theme-name-wrapper {
height: 0px;
position: relative;
top: 130px;
_margin-top: -34px;
top: 129px\9;
_top: 163px;
}

#skin_bar .icons .hint {
text-shadow: 1px 1px 1px #eee;
font-family: SimSun;
line-height: 15px;
color: #666;
}

#skin_bar .bg_setting {
width: 491px;
float: left;
}

#skin_bar .bg_setting .bg-upload {
margin: 18px 0 0 11px;
float: left;
}

#skin_bar .bg_setting.no-bg a.skin {
background: transparent;
}

#skin_bar .bg_setting .no-bg,#skin_bar .bg_setting.no-bg .have-bg {
display: none;
}

#skin_bar .bg_setting.no-bg .no-bg {
display: inline;
}

#skin_bar .bg_setting.no-bg div.no-bg {
display: block;
}
#skin_bar .bg_setting .add-bg {
background: url('http://s3.suc.itc.cn//themes/d/skin_bg_up.png') no-repeat 0 0;
height: 90px;
}

#skin_bar .bg_setting.uploading .no-uploading{
display: none;
}

#skin_bar .bg_setting a.skin i {
display: inline-block;
background: url('http://s3.suc.itc.cn//themes/d/skin_bg_up.png') no-repeat 0 -98px;
width: 42px;
height: 28px;
margin: 18px auto 8px;
}

#skin_bar .bg-upload a.skin .text-up {
display: inline-block;
color: #CCC;
line-height: 14px;
margin: 0 auto;
padding-left: 12px;
background: url('http://s3.suc.itc.cn//themes/d/skin_bg_up.png') no-repeat -118px -99px;
}

#skin_bar .bg_setting a.skin:hover i {
background-position: -42px -98px;
}

#skin_bar .bg_setting a.skin:hover .text-up {
color: #FFF;
background-position: -118px -113px;
}

#skin_bar .bg-upload .no-bg {
text-align: center;
}

#skin_bar .bg_setting .bg_option {
float: left;
margin: 20px 0 0 11px;
}

#skin_bar .bg_setting .bg_option .hint.upload-hint {
margin: 18px 0 0;
width: 328px;
line-height: 18px;
}

#skin_bar .bg_option .gray {
color: #999;
}

#skin_bar .bg_setting .bg_option .row {
padding: 5px;
}

#skin_bar .bg_setting .bg_option .cell {
display: inline-block;
margin: 0 10px 0 0;
}

#skin_bar .icons .hint.color-hint {
margin: 23px 0 8px 20px;
line-height: 13px;
}

#skin_bar .icons .vr {
float: left;
margin-top: 32px;
width: 0;
height: 68px;
border-left: 1px solid #999;
border-right: 1px solid #e8e8e8;
}

#skin_bar .bg-upload object {
position: relative;
top: 90px;
float: left;
margin-top: -90px;
}

#skin_bar .progress {
margin-top: 40px;
display: inline-block;
width: 58px;
height: 10px;
background: url('http://s3.suc.itc.cn//themes/d/skin_bg_up.png') no-repeat -60px -126px;
}

#skin_bar .icons .right {
float: left;
}

#skin_bar .color-list {
margin-left: 12px;
}

#skin_bar .color-list a {
display: inline-block;
width: 48px;
height: 48px;
margin: 8px;
}

#skin_bar .color-list a.active {
border: 2px solid #507990;
border-radius: 2px;
margin: 6px;
}
/* default links botton color */
body {
color: #333;
}
a:link, a:active, a:visited {
color: #507990;
}
/*
* button
*/
.ui-btn {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn.gif');
}
.ui-btn span {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn.gif');
color: #ffffff;
}
.ui-btn span a {
color: #ffffff;
}
.ui-btn-icon {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_mark_add.gif');
}
/*
* btn-gray
*/
.btn-gray {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn_gray.gif');
}
.btn-gray span {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn_gray.gif');
color: #666;
}
.btn-gray span a {
color: #666;
}
.btn-gray.ui-btn-disabled[class] span,
.btn-gray.ui-btn-disabled[class] span a {
color: #b6b6b6;
}
/*
* btn-green-h20
*/
.btn-green-h20 {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn_green_h20.gif');
background-color:transparent;
}
.btn-green-h20 span {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn_green_h20.gif');
color: #fff;
}
.btn-green-h20 span a {
color: #fff;
}
.btn-green-h20.ui-btn-disabled[class] span,
.btn-green-h20.ui-btn-disabled[class] span a {
color: #bbedae;
}
/*
* btn-gray-h20
*/
.btn-gray-h20 {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn_gray_h20.gif');
border: 0px solid #dde6ee;
}
.btn-gray-h20 span {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn_gray_h20.gif');
}
.btn-gray-h20.ui-btn-later[class] span{
color: #999;
}
/*
* btn-green-h30
*/
.btn-green-h30 {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn_green_h30.gif');
}
.btn-green-h30 span {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn_green_h30.gif');
color: #fff;
}
.btn-green-h30 span a {
color: #fff;
}
.btn-green-h30.ui-btn-disabled[class] span,
.btn-green-h30.ui-btn-disabled[class] span a {
color: #bbedae;
}
/*
* btn-blue-h32
*/
.btn-blue-h32 {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn_blue_h32.gif');
}
.btn-blue-h32 span {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn_blue_h32.gif');
color: #fff;
}
.btn-blue-h32.ui-btn-disabled span,
.btn-blue-h32.ui-btn-disabled span a {
color: #d3effc;
}
/*
* btn-backhome
*/
.btn-backhome {
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn_backhome.gif');
}
.btn-backhome span {
color: #000;
background-image: url('http://s3.suc.itc.cn//themes/default/ui_btn_backhome.gif');
}
.space-ui-button {
background-color: #1b5891;
color: #ffffff;
border: 0px solid #dde6ee;
}
/*
* ui-btn-w60, ui-btn-w80, ui-btn-w100
*/
.ui-btn-w60, .ui-btn-w80, .ui-btn-w100 {
background: url('http://s3.suc.itc.cn//themes/default/ui_btn_w.gif');
color: #fff;
}
.ui-btn-w80 {
_background-position-x: -100px;
}
.ui-btn-w100 {
_background-position-x: -200px;
}
.btn-w-gray {
background: url('http://s3.suc.itc.cn//themes/default/ui_btn_gray_w.gif');
color: #333;
}

/*
* common frame
*/
.main-nav {
background: #FFE88B;
}
body.default {
background: url('http://s3.suc.itc.cn//themes/default/bg.jpg') repeat-x fixed center 30px #E7F0F7;
}
.menu-top{
background: #FFE88B;
}
.sidebar-inner,
.rightbar {
border-color: #9ec1d3;/*sidebar border color*/
}
.rightbar {
box-shadow: 0 2px 3px -1px #9ec1d3;
}
.sidebar,
.rightbar {
background: url('http://s3.suc.itc.cn//themes/d/trans_bg.png') repeat;
background: rgba(255, 255, 255, 0.5);
_filter:alpha(opacity=90);
}
.sidebar-inner .sidebar {
border:1px solid #fff;
border-top:0px none;
}
.menu-top,
.menu-top ul li {
border-color: #DFC16F;/*menu border color*/
}
.menu-top ul li a:hover,
.menu-top ul li.dragging a,
.main-nav li a:hover {
background-color:#f1d45a/*menu mouse over color*/
}
.menu-top ul li.curr a,
.menu-top ul li.curr a div{
background-color: #fff7d5; /*menu current item background color*/;
}
ul.main-nav li.active a,
.menu-top li.curr a {
background-color:#FFF7D5/*menu current item background color*/;
}
.menu-top ul li div p {
color: #E59700;
}



/*leftbar and rightbar split line */
.split-lines {
background-color: #fff;
border-top: 1px solid #999;
}

/*leftbar font color */
.feed-follow .more-btn a i.ico-arrow-down,
.feed-follow .less-btn a i.ico-arrow-up,
.user-news ul li,
.user-news ul li.current .news-num,
.user-app-list ul li a,
.user-app-more ul li a,
.user-app-more div i {
background-image: url('http://s3.suc.itc.cn//themes/default/btn_sidebar.png');
_background-image: url('http://s3.suc.itc.cn//themes/default/btn_sidebar.gif');
}
.user-news ul li a,
.user-news ul li a:visited {
color: #507990;
}
.user-app-list a,
.user-app-more a {
color: #333;
}
.user-app-list a:hover,
.user-app-more a:hover {
color: #507990;
}
.user-app-list ul li a,
.user-app-list ul li a:visited,
.user-app-more ul li a,
.user-app-more ul li a:visited {
color: #333;
}
.user-app-list ul li a:hover,
.user-app-more ul li a:hover {
color: #507990;
}
.user-app-more .actions a,
.user-app-more .actions a:visited {
color: #333;
}
.user-app-more .actions a:hover {
color: #507990;
}
.user-news ul li.current .news-num a {
color:#fff;
}

/*rightbar font color */
.rtbar-wrapper a,
.rtbar-wrapper a:visited,
.rtbar-wrapper a:hover,
.rtbar-wrapper a:link {
color: #507990;
}
.rtbar-follow li,
.rtbar-grade li {
color: #507990;
}
.rtbar-follow li.rtbar-name {
color: #426a81;
}
.rightbar .rtbar-wrapper h3 {
color: #333;
}
div.info-know p.name span {
color: #999;
}
.blog-act p {
color: #999;
}
.suggestion p {
color: #666;
}
.rtbar-blog-box p {
color: #666;
}
.rtbar-com-hot .com-hot-box h4 {
color:#999;
}
.rtbar-com-hot .com-hot-box .hot-box .hot-txt p {
color:#666;
}
.rtbar-com-hot .com-hot-box .hot-box .hot-txt p a.cmtContent{
color:#666;
}

/*sentence-box style */
.sentence-box {
background: #fff;
border: 1px solid #9ec1d3;
-webkit-box-shadow: 0 2px 3px -1px #9ec1d3;
-moz-box-shadow: 0 2px 3px -1px #9ec1d3;
box-shadow: 0 2px 3px -1px #9ec1d3;
}
.sentence-box .post-wrapper {
background: #fff;
}
.sentence-box .post-area { /*textarea outside wrapper */
border: 1px solid #B3C6D3;
-webkit-box-shadow: inset 1px 1px 2px #B3C6D3;
-moz-box-shadow: inset 1px 1px 2px #B3C6D3;
box-shadow: inset 1px 1px 2px #B3C6D3;
}
.sentence-box .post-area-active,
.sentence-box .post-area-hover {
border: 1px solid #3292DC; /*textarea border color */
}
.sentence-box .post-area-hover textarea,
.sentence-box .post-area textarea {
color: #999; /*textarea defult and cursor hover font color */
}
.sentence-box .post-area-active  textarea {
color: #333; /*textarea active font color*/
}
.sentence-box .post-btns .txt-number,
.sentence-box .post-options .pub-faces i.text,
.sentence-box .post-options .insert-at i.text,
.sentence-box .post-options .insert-picture i.text,
.sentence-box .post-options .insert-video i.text {
color: #666;
}
.sentence-box .post-btns .txt-error {
color: #CC0000;
}
.sentence-box .post-btns .btn-submit span.submit {
background: url('http://s3.suc.itc.cn//themes/default/btn_sentence.jpg') 0 0 no-repeat;
color: #fff;
}
.sentence-box .post-btns .btn-submit a:hover span.submit {
background-color: #fff;
}

/*common multiwindow background and font color style*/
.panel-nav-wrapper {
background: #fff;
border: 1px solid #9ec1d3;
border-bottom:0 none;
}
.panel-nav-wrapper .panel-nav-tit{
background: url('http://s3.suc.itc.cn//themes/default/bg_panel_nav.gif');
}
.panel-nav-wrapper .panel-nav-tit ul.tabs-menu li.split-tag {
color: #ccc;
}
.panel-nav-wrapper .panel-nav-tit ul.tabs-menu li.current {
background: #f6f6f6 url('http://s3.suc.itc.cn//themes/default/bg_panel_nav_current.jpg');
font-weight: bold;
border: 1px solid #fff;
border-top: 0 none;
border-right: 1px solid #bbd3e1;
-webkit-box-shadow: -1px -1px 1px #b9d2e0;
-moz-box-shadow: -1px -1px 1px #b9d2e0;
box-shadow: -1px -1px 1px #b9d2e0;
}
.panel-nav-wrapper .panel-nav-tit ul.tabs-menu li.current a {
color: #333;
}
.panel-nav-wrapper .panel-nav-tit ul.tabs-menu li.current span {
border-right: 1px solid #fff;
}
.panel-nav-wrapper .panel-nav-tit ul.tabs-menu li.group-more ul.group-extend {
background: #fff;
border: 1px solid #d2dfe6;
border-top: 0px;
-webkit-box-shadow: 0 1px 1px #B7B7B7;
-moz-box-shadow: 0 1px 1px #B7B7B7;
box-shadow: 0 1px 1px #B7B7B7;
}
.panel-nav-wrapper .panel-nav-tit li.group-more ul.group-extend li.split-line {
background-color: #e3eaee;
}
.panel-nav-wrapper .panel-nav-tit span.btn-reload i,
.panel-nav-wrapper .panel-nav-tit span.btn-collapse i{
background: url('http://s3.suc.itc.cn//themes/default/icon_tools.gif');
}

/*common	window background style*/
.panel-box {
background: #fff;
border: 1px solid #9ec1d3;
-webkit-box-shadow: 0 2px 3px -1px #9ec1d3;
-moz-box-shadow: 0 2px 3px -1px #9ec1d3;
box-shadow: 0 2px 3px -1px #9ec1d3;
}

/*common	Tab background and font color style*/
.panel-nav-wrapper .filter-type {
background-color: #fff;
}
.panel-nav-wrapper .feed-nav ul.filter-menu {
border-bottom: 1px solid #E3EAEE;
}
.panel-nav-wrapper .feed-nav ul.filter-menu li.current {
background-color: #8db1c5;
border-color: #8db1c5;
}
.panel-nav-wrapper .feed-nav ul.filter-menu li.current a {
color: #fff;
}

/*feed background and font color style*/
.feed-box .feed-con .mod-head span.user-suffix {
color: #999;
}
.feed-box .feed-quote .flake-body {
background-color: #F6F6F6;
border: 1px solid #ECEBEB;
}
.feed-box .feed-con .mod-head {
color: #333;
}
.feed-box p.body-desc,
.feed-box .feed-con .mod-head span.txt,
.feed-box .feed-poke .feed-con .mod-head,
.feed-box .feed-forward .feed-con .mod-head,
.feed-box .feed-share .feed-con .mod-head,
.feed-box .feed-forward .feed-con .mod-head,
.feed-box .feed-app-wenda .feed-con p.body-desc,
.feed-box .feed-blog .feed-con p.body-desc,
.feed-box .feed-app .feed-con p.body-desc {
color: #333;
}
.feed-box .feed-forward .feed-con .mod-body .flake-body .feed-set,
.feed-box .feed-tblog-forward .feed-con .mod-body .flake-body .feed-set,
.feed-box .feed-tblog .feed-set,
.feed-box .feed-con .mod-foot .feed-set,
.feed-box .feed-item .feed-quote .flake-body .quote-actions .feed-set {
color: #E0E0E0;
}
.feed-box .feed-manager .feed-con .mod-foot {
color: #666;
}
.feed-box .feed-con .mod-foot .item-info {
color: #999;
}
.feed-box .feed-say .mod-body p {
color: #333;
}
.feed-box .feed-con .mod-foot .item-info .feed-timestamp a,
.feed-box .feed-con .mod-foot .item-info .feed-from a {
color: #999;
}
.feed-box .feed-con .mod-foot .item-info .feed-timestamp a:hover,
.feed-box .feed-con .mod-foot .item-info .feed-from a:hover {
color: #507990;
}
.feed-box .feed-quote .flake-body p {
color: #666;
}
.panel-nav-wrapper .panel-nav-tit span.tabs-link a {
color: #507990;
}
.feed-tblog-video .tblog-preview .preview-big,
.tblog-preview .preview-big {
background:#F6F6F6;
border:1px solid #E0E0E0;
}
.tblog-preview .preview-small a,
.tblog-preview .preview-small img{
background:#FFF;
}

/*person show style*/
.header-face {
background: #fff;
background: rgba(255,255,255,0.8);
}
.header-face,
.main-nav-wrapper {
-webkit-box-shadow: 0 2px 3px -1px #999;
-moz-box-shadow: 0 2px 3px -1px #999;
box-shadow: 0 2px 3px -1px #999;
}
.main-info .title h1 {
color:#333;
}
.main-info .title span {
color:#666;
}
.main-info .intro {
color:#666;
}
.main-info .intro a.more {
color:#000;
}
.main-leavemsg-wrapper .view-leavemsg a,
.main-leavemsg-wrapper .view-leavemsg a:visited {
color:#50798f;
}
.main-leavemsg-wrapper button {
background: url('http://s3.suc.itc.cn//themes/default/btn_sprite.gif');
}
.main-leavemsg-wrapper button.leavemsg-btn,
.main-leavemsg-wrapper button.leavemsg-btn-hover{
color: #666;
}

/*person navigation box style*/
.main-nav-wrapper {
border:#dfc06e 1px solid;
}
.main-nav {
border:#fff 0px solid;
background:#ffe88b;
}
.main-nav li {
border-right:#f2cd65 solid 1px;
}
.main-nav li a {
/*border-right:#fff solid 1px;*/
color:#000;
}

.main-nav li a:hover,
.main-nav li.active a {
background:#fff2ac;
text-decoration:none;
}
.main-nav li.curr a {
background:#fff2ac;
}
.main-nav li.more-left a,
.main-nav li.more-right a{
background-image:url('http://s3.suc.itc.cn//themes/default/icon_nav_more.gif');
}
.main-nav li.more-left a:hover,
.main-nav li.more-right a:hover {
background-image:url('http://s3.suc.itc.cn//themes/default/icon_nav_more.gif');
background-color:##fff2ac;
}

/*person common style*/
.exhibition-photo ul li div {
border: 1px solid #AEB8BE;
-moz-box-shadow: 0 3px 5px #999;
-webkit-box-shadow: 0 3px 5px #999;
box-shadow: 0 3px 5px #999;
background: #fff;
}
.exhibition-photo ul li p {
border: 1px solid #C0C0C0;
-moz-box-shadow: inset 0 0 5px #999;
-webkit-box-shadow: inset 0 0 5px #999;
box-shadow: inset 0 0 5px #999;
}
.tblog-total {
background-color: #FFFFFF;
border-bottom: 1px solid #E3EAEE;
}

/*common more-feed style*/
.feed-more .btn-no-more,
.feed-more .btn-more {
background: url('http://s3.suc.itc.cn//themes/default/bg_feed_more_h32.gif');
color: #0B60AF;
border: 1px solid #BFD2DF;
}
/*.feed-more .btn-more a,
.feed-more .btn-more a:visited {
color: #0B60AF;
}*/

/*footer style*/
#footer {
}
#footer .innerFooter {
}
#footer .contact,
#footer .contact a,
#footer .contact a:visited {
color: #768e98;
}
#footer .contact a:hover {
color: #f00;
}
#footer .copyright {
color: #748b99;
}

/*comment style*/
.sentence-box-comm{
background:#fff;
border:1px solid #B3C6D3;
-moz-box-shadow:0 0 4px #9ABCC9;
-webkit-box-shadow:0 0 4px #9ABCC9;
box-shadow:0 0 4px #9ABCC9;
}
.sentence-box-comm .comment-news {
color:#333;
}
.sentence-box-comm .post-wrapper{
background:#fff;
}
.sentence-box-comm .post-area {
border: 1px solid #b3c6d3;
-webkit-box-shadow: 0 0 1px #9abcc9;
-moz-box-shadow: 0 0 1px #9abcc9;
box-shadow: 0 0 1px #9abcc9;
}
.sentence-box-comm .post-area textarea {
color: #999;
}
.sentence-box-comm .post-options i.text{
color:#666;
}
.sentence-box-comm .comment-news-btn .news-btn a{
background:url('http://s3.suc.itc.cn//themes/default/com_bg_btn.gif');
}
.comment-box .comment-con .comment-body{
background:#F6F6F6;
border:1px #EDECEC solid
}
.comment-box .comment-con .comment-body p{
color:#666;
}
.comment-box h3{
color:#999;
}
.comment-box .mod-foot .item-info{
color:#999;
}
.comment-box .mod-foot .item-info .feed-from a{
color:#999;
}
.comment-box .comment-con .comment-ort{
color:#666;
}
.sentence-box-comm .post-btns .btn-submit span.submit{
background:url('http://s3.suc.itc.cn//themes/default/btn_sentence.jpg');
color:#FFF;
}

/*feed blog style*/
.write-blog-default .write-blog-btn{
background:url('http://s3.suc.itc.cn//themes/default/blog_btn.gif');
}
.write-blog-default p{
color:#999;
}

/*feed album style*/
.upload-pic-default .upload-pic-btn{
background:url('http://s3.suc.itc.cn//themes/default/upload.gif');
}

/*feed vedio style*/
.upload-video-default .upload-video-btn{
background:url('http://s3.suc.itc.cn//themes/default/btn_upload.gif');
}
/*set wenda style*/
.app-wraper{
-webkit-box-shadow: 0 0 4px #99bcca;
-moz-box-shadow: 0 0 4px #99bcca;
box-shadow: 0 0 4px #99bcca;
border:#9dbecd 1px solid;
background:#fff;
}

/*person blog style*/
.sort-tag{
color:#DBDBDB;
}
.sort-tag span{
color:#333;
}
.blog-box .blog-post-btn-box{
border-bottom:1px solid #C7D2D8;
}
.blog-box .mod-foot .item-info,
.blog-article-box .mod-foot .item-info,
.blog-box .mod-foot .item-info .feed-from a,
.blog-article-box .mod-foot .item-info .feed-from a{

}

/*person album style*/
.album-explain{
background:url('http://s3.suc.itc.cn//themes/default/bg1.gif');
}
.album-command-bar{
color:#DBDBDB;
border-bottom:1px solid #DBDBDB;
}
.album-command-bar .total-count{
color:#DBDBDB;
}
.album-command-bar .total-count span{
color:#333;
}
.album-explain .album-explain-info ul h3,
.album-explain .album-explain-info ul h3 input,
.album-explain .album-explain-info ul h3 span{
color:#333;
}
.album-con .mod-foot .item-info {
color: #999;
}
.album-con .mod-foot .item-info .feed-from a {
color: #999;
}

/*person video style*/
.video-command-bar .total-count{
color:#DBDBDB;
}
.video-command-bar .total-count span{
color:#333;
}
.video-command-bar a.upload{
background:url('http://s3.suc.itc.cn//themes/default/btn_upload.gif');
}
.video-pic-box .video-text-info p.tip{
color:#999;
}
.video-list-box .video-text-info p.text{
color:#666;
}
.video-list-box .mod-foot .item-info{
color: #999;
}
.video-list-box .mod-foot .item-info .feed-from a{
color: #999;
}
.video-list-box .mod-foot .item-info .feed-from a.blog{
color:#507990;
}

/*person comment style*/
.comments-body .comments-main p.preview {
border: 1px solid #ecebeb;
background-color:#f6f6f6;
color:#666;
}
.comments-body .comments-main p.detail span{
color:#666;
}
.comments-body .comments-foot .item-info {
color: #999;
}
.comments-body .comments-foot .item-info .feed-from a {
color: #999;
}
.blog-article-box .mod-foot .item-info .feed-from a.blog {

}
