/*
* leavemsg
*/
.main-leavemsg-place {
width:285px;
height:30px;
display:inline-block;
position:relative;
vertical-align: middle;
z-index:200;
}
.main-leavemsg-place .publish-wrapper {
margin-right:5px;
background:#fff;
border:1px solid #b3d6c4;
position:absolute;
overflow:hidden;
}
.main-leavemsg-place .main-leavemsg {
width:270px;
height:18px;
line-height:18px;
font-size:14px;
color:#999;
resize:none;
border: 0 none;
padding:4px 5px;
margin: 0px;
-webkit-box-shadow:inset 0 1px 2px #ccc;
-moz-box-shadow:inset 0 1px 2px #ccc;
box-shadow:inset 0 1px 2px #ccc;
overflow-y: hidden;
font-family: Arial, simsun;
}

#leavemsg_textarea_duplicate {
width:270px;
line-height:18px;
font-size:14px;
border: none;
padding:4px 5px;
margin: 0px;
word-wrap: break-word;
border: 1px solid red;
background-color: #fff;
overflow-y: scroll;
font-family: Arial, simsun;
}
#leavemsg_textarea_duplicate span {
background-color: #ccc;
word-wrap: break-word;
}

#leavemsg_textarea_duplicate i {
white-space: pre-wrap;
}
.main-leavemsg-place span.veritication {
display: none;
height: 34px;
padding: 0 10px;
line-height: 34px;
background-color: #F3F8FA;
border-top: 1px solid #e1e6ea;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius: 5px;
}

.main-leavemsg-place .securitycode-text {
border: 1px solid #B3C6D5;
border-radius: 4px 4px 4px 4px;
color: #CCCCCC;
height: 20px;
line-height: 20px;
margin-right: 5px;
padding: 0 5px;
vertical-align: middle;
width: 40px;
}

.main-leavemsg-place .securitycode-text-active {
border-color: #3292DC;
color: #333333;
}
.main-leavemsg-place .securitycode-text-error {
border-color: #C43636;
color: #333333;
}
.main-leavemsg-place .securitycode-img {
cursor: pointer;
width: 70px;
height: 18px;
vertical-align: middle;
}

.main-leavemsg-place .leavemsg-active {
border-color: #50798F;
background-color: #fff;
}
.main-leavemsg-place .leavemsg-active textarea.main-leavemsg {
height:36px;
color: #333;
overflow-y: scroll;
}
.main-leavemsg-place .leavemsg-disabled {
border-color: #e0e0e0;
}
.main-leavemsg-place .leavemsg-disabled textarea.main-leavemsg {
color: #aaa;
background-color: #f0f0f0;
overflow-y: scroll;
}
.main-leavemsg-place .leavemsg-error {
border-color: #e0e0e0;
}
.main-leavemsg-place .leavemsg-error textarea.main-leavemsg{
color: #333;
background-color: #ffe9e9;
overflow-y: scroll;
}
.main-leavemsg-place .leavemsg-active span.veritication,
.main-leavemsg-place .leavemsg-disabled span.veritication,
.main-leavemsg-place .leavemsg-error span.veritication {
display: block;
}


