.blog-article-box i,.blog-article-box em{
font-style:italic;
}
.write-blog-default{
padding:16px 0;
text-align:center;
}

.write-blog-default .write-blog-btn{
display:inline-block;
width:109px;
height:32px;
background:url('http://s3.suc.itc.cn//s/blog/d/blog_btn.gif');
text-indent:-1000px;
overflow:hidden;
}

.write-blog-default p{
color:#999;
margin-top:8px;
}

.blog-box{
padding:15px 15px 10px;
text-align:left;
}

.blog-box h3{
font-size:14px;
line-height:24px;
font-weight:normal;
color:#999;
font-weight:bold;
word-wrap:break-word;
word-break:break-all;
width:100%;
}

.blog-box p.blog-tag{
line-height:24px;
color:#666;
}

.blog-box .blog-pic{
float:left;
margin-right:14px;
}

.blog-box .blog-item{
margin-bottom:8px;
}

.blog-box .blog-item p.text{
line-height:22px;
font-size:14px;
word-wrap:break-word;
word-break:break-all;
}

.blog-box .blog-item p a{
font-size:12px
}

.blog-box .mod-foot,.blog-article-box .mod-foot{
display:block;
word-wrap:break-word;
word-break:break-all;
overflow: hidden;
padding-bottom: 2px;
zoom:1;
}

.blog-box .mod-foot .item-info,.blog-article-box .mod-foot .item-info {
float: left;
/*color: #999;*/
line-height: 22px;
}
.blog-box .mod-foot .item-info .feed-from,.blog-article-box .mod-foot .item-info .feed-from{
color: #999;
}
.blog-box .mod-foot .item-info .feed-from a,.blog-article-box .mod-foot .item-info .feed-from a {
color: #999;
text-decoration: none;
}
.blog-box .mod-foot .item-info .feed-from a:hover,.blog-article-box .mod-foot .item-info .feed-from a:hover {
color:#507990;
text-decoration: underline;
}


.blog-article-box .mod-foot .item-info .feed-from a.blog{
/*color:#507990;*/
}

.blog-box .mod-foot i.icon ,.blog-article-box .mod-foot i.icon{
display: inline-block;
position: relative;
width: 16px;
height: 16px;
top: 3px;
_top: 0px;
*top: 0px;
overflow: hidden;
background: url(http://s2.suc.itc.cn/i/img/icon_space.gif) no-repeat;
margin-right: 2px;
}

.blog-box .mod-foot i.i-forward,.blog-article-box .mod-foot i.i-forward {
background-position: -300px 0;
}

.blog-box .mod-foot .item-behavior,.blog-article-box .mod-foot .item-behavior {
float: right;
width: 260px;
text-align: right;
line-height: 22px;
}
.blog-article-box .mod-foot .item-behavior {
width: 320px;
_margin-top: -2px;
}

.blog-box .mod-foot .item-behavior,.blog-article-box .mod-foot .item-behavior .feed-set a{
margin-right:10px;
}
.blog-post .blog-post-title-box,
.blog-post .blog-post-content-box
{
margin-bottom:10px;
}

.blog-post-btn-box{
width:540px;
text-align:right;
}

.sort-tag{
float:left;
/*color:#DBDBDB;*/
}

/*.sort-tag span{
color:#333;
}*/

.blog-box .blog-post-btn-box{
height:31px;
/*border-bottom:1px solid #C7D2D8;*/
margin-bottom:15px;
width:100%;
}

.blog-box .blog-post-btn-box a:hover {
text-decoration: none;
}

.blog-tip{
margin:30px auto 50px;
}

.blog-tip .blog-tip-1{
background:url('http://s3.suc.itc.cn//s/blog/d/ico1.gif') 0 -113px;
height:24px;
width:512px;
margin:0 auto;
}

.blog-tip .blog-tip-1-ico{
background:url('http://s3.suc.itc.cn//s/blog/d/ico1.gif');
height:93px;
width:71px;
margin:0 auto 15px;
}

.blog-tip .blog-tip-2{
background:url('http://s3.suc.itc.cn//s/blog/d/ico1.gif') 0 -151px;
height:24px;
width:344px;
margin:0 auto;
}

.blog-tip .blog-tip-2-ico{
background:url('http://s3.suc.itc.cn//s/blog/d/ico1.gif') -85px 0;
height:97px;
width:88px;
margin:0 auto 15px;
}

.blog-tip .blog-tip-3{
background:url('http://s3.suc.itc.cn//s/blog/d/ico1.gif') 0 -190px;
height:25px;
width:175px;
margin:0 auto 20px;
}

.blog-tip .blog-tip-4{
background:url('http://s3.suc.itc.cn//s/blog/d/ico1.gif') 0 -266px;
height:24px;
width:328px;
margin:0 auto 20px;
}


.blog-tip .blog-back-all{
font-size:14px;
color:#999;
text-align:center;
}

.blog-tip .blog-tip-btn{
display:block;
width:109px;
height:32px;
background:url('http://s3.suc.itc.cn//s/blog/d/ico1.gif') -205px -51px;
margin:0 auto;
}

.blog-article-remark{
padding:0 15px 15px;
}
.blog-article-box{
padding:0 50px 10px;
word-wrap: break-word;
word-break: break-all;
}
.blog-article-box:after {
height: 0;
content: ".";
clear: both;
display: block;
visibility: hidden;
}
.blog-show-pic {
word-wrap:break-word;
width:675px;
overflow:hidden;
font-size:14px;
}
.blog-article-box .blog-show-pic img {
max-width: 678px;
}

.blog-article-box h1{
font-size:24px;
line-height:32px;
padding:40px 0 15px;
font-family:\5FAE\8F6F\96C5\9ED1, "Microsoft YaHei",\9ED1\4F53, SimHei;
width:100%;
text-align:center;
font-weight: normal;
word-wrap: break-word;
word-break:keep-all;
overflow: hidden;
}

.blog-article-box .blog-article-pic {
margin-bottom:10px;
line-height: 26px;
padding-top: 10px;
color:#666;
font-size: 14px;
overflow: hidden;
word-wrap: break-word;
}
.blog-article-box .blog-article-pic img{
max-width: 618px;
_zoom: expression((function(){this.onload=arguments.callee;if(this.width>618)this.style.width="618px";return 1;}).call(this));
}

#blogarticlefont *{
line-height: 160%;
}
#blogarticlefont ol{
list-style-type:decimal;
padding-left: 30px;

}
#blogarticlefont ul{
list-style-type: disc;
padding-left: 30px;

}




.blog-article-box p,
.blog-article-box pre{
line-height:160%;
font-size:14px;
width:100%;
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap;/* Opera 7 */
}
.blog-article-box p{
padding:0;
width:auto;
color:#444;
line-height: 26px;

}
.blog-article-box p *{
line-height:180%;
}

.blog-article-box .article-tag{
line-height:18px;
color:#507990;
text-align:left;
margin-bottom:10px;
margin-top:15px;
}

.blog-article-box .article-tag strong{
color:#999;
font-weight:normal;
}

.blog-article-pg{
height:40px;
background:#f6f6f6;
padding:0 50px;
}

.blog-article-pg .pre-article,.blog-article-pg .next-article{
float:left;
margin-top:12px;
width:290px;
overflow:hidden;
height:16px;
line-height:16px;
}

.blog-article-pg .next-article{
float:right;
}

.blog-article-pg .pre-article{
margin-right:10px;
}


.rtbar-blog-box p{
line-height:24px;
padding:5px;
word-wrap:break-word;
word-break:break-all;
}

.rtbar-blog-box p a{
margin:0 12px 0 0;
}

.rtbar-blog-box ul{
line-height:24px;
padding-left:15px;
padding-bottom:10px;
}

.rtbar-blog-box li{
padding-left:10px;
background:url('http://s3.suc.itc.cn//s/blog/d/ico3.gif') no-repeat 0 10px;
background:url('http://s3.suc.itc.cn//s/blog/d/ico3.gif') no-repeat 0 9px\9;
}

.blog-hidden-tip{
font-size:14px;
margin-bottom:5px;
}

.blog-hidden-tip .ico{
display:inline-block;
margin-right:6px;
width:10px;
height:11px;
background:url('http://s3.suc.itc.cn//s/blog/d/ico2.gif');
}

.post-this-blog{
background:#F0F0F0;
padding-top:14px;
height:43px;
text-align:center;
}

.post-this-blog span.tip{
display:inline-block;
width:395px;
height:25px;
background:url('http://s3.suc.itc.cn//s/blog/d/ico1.gif') 0 -229px;
vertical-align:middle;
margin-right:12px;
}

.post-this-blog .btn{
display:inline-block;
width:98px;
height:32px;
background:url('http://s3.suc.itc.cn//s/blog/d/ico1.gif') -205px -14px;
vertical-align:middle;
}
.panel-nav-wrapper .panel-nav-tit span.tabs-link{
line-height:14px;
}
.panel-nav-wrapper .blog-box .blog-post-btn-box {
margin-bottom: 0px;
}


/* ���� */
.dialog-blog-set{
width:360px;
text-align:left;
}

.dialog-blog-set ul{
width: 100%;
}

.dialog-blog-set ul.items-list{
overflow-x: hidden;
overflow-y: auto;
max-height: 360px;
_height: 360px;
_width: 370px;
clear: both;
}

.dialog-blog-set .title{
height:31px;
border-bottom:1px solid #EBEBEB;
background:#F6F6F6;
padding-left:13px;
float:left;
width:100%;
}

.dialog-blog-set .title span{
margin-top:11px;
color:#999;
display:inline-block;
line-height:14px;
}
.dialog-blog-set  .title .col-2{
display: none;
}

.dialog-blog-set .col-1,
.dialog-blog-set .col-2,
.dialog-blog-set .col-3,
.dialog-blog-set .col-4{
float:left;
}

.dialog-blog-set .col-1{
width:130px;
}

.dialog-blog-set .col-2{
width:182px;
display: none;
}

.dialog-blog-set .col-3{
width:87px;
}

.dialog-blog-set .col-4{
width:106px;
}

.dialog-blog-set .rs{
height:35px;
border-bottom:1px solid #EBEBEB;
background:#FFF;
padding-left:13px;
float:left;
width:350px;
}

.dialog-blog-set .items-list .rs {
width:100%;
}

.dialog-blog-set .sort-name-default{
margin-top:6px;
height:20px;
line-height:14px;
padding:5px 0 0 6px;
padding:6px 0 0 6px\9;
width:119px;
float:left;
}

.dialog-blog-set .sort-name-default a.edit,
.dialog-blog-set .desc a.edit{
display:none;
}

.dialog-blog-set .sort-name-default-hover,
.dialog-blog-set .desc-hover{
background:#FFFAD5;
}

.dialog-blog-set .sort-name-default-hover a.edit,
.dialog-blog-set .desc-hover a.edit{
display:inline-block;
vertical-align:middle;
}

.dialog-blog-set .sort-name-default strong{
display:inline-block;
width:85px;
margin-right:3px;
font-weight:normal;
height:14px;
overflow:hidden;
vertical-align:middle;
}

.dialog-blog-set .desc{
margin-top:6px;
height:20px;
line-height:14px;
padding:5px 0 0 6px;
padding:6px 0 0 6px\9;
width:168px;
float:left;
}

.dialog-blog-set .desc strong{
display:inline-block;
width:135px;
margin-right:3px;
font-weight:normal;
height:14px;
overflow:hidden;
vertical-align:middle;
}

.dialog-blog-set .create-date{
display:inline-block;
width:72px;
float:left;
height:14px;
overflow:hidden;
margin-top:11px;
margin-top:12px\9;
line-height:14px;
}

.dialog-blog-set .tool{
display:inline-block;
width:106px;
float:left;
margin-top:12px;
line-height:13px;
line-height:14px\9;
_line-height:16px;
}

.dialog-blog-set .tool input{
float:left;
vertical-align:middle;
margin:0 4px 0 0;
margin:-3px 2px 0 0\9;
_margin:-4px 0px 0 0;
}

.dialog-blog-set .sort-name-default-edit,
.dialog-blog-set .sort-name-default-error,
.dialog-blog-set .desc-edit,
.dialog-blog-set .desc-error
{
margin-top:6px;
height:25px;
line-height:14px;
padding:0;
width:124px;
float:left;
}

.dialog-blog-set .desc-edit,.dialog-blog-set .desc-error
{
width:168px;
}

.dialog-blog-set .desc-edit .desc-name-input{
width:162px;
padding:4px 5px;
padding:6px 5px 2px\9;
border:1px solid #CCC;
line-height:14px;
float:left;
}

.dialog-blog-set .desc-error .desc-name-input{
width:162px;
padding:4px 5px;
padding:6px 5px 2px\9;
border:1px solid #C43737;
line-height:14px;
float:left;
background:#FFE9E9;
}

.sort-name-default-edit .sort-name-input{
width:112px;
padding:4px 5px;
padding:6px 5px 2px\9;
border:1px solid #CCC;
line-height:14px;
float:left;
}

.sort-name-default-error .sort-name-input{
width:112px;
padding:4px 5px;
padding:6px 5px 2px\9;
border:1px solid #C43737;
line-height:14px;
float:left;
background:#FFE9E9;
}

.dialog-blog-set .sort-pop{
height:1px;
position:relative;
width:100%;
clear:both;
}

.dialog-blog-set .sort-name-error-tip{
position:absolute;
top:0px;
left:0;
width:158px;
padding-top:11px;
height:20px;
padding-top:12px\9;
height:19px\9;
text-align:center;
background:url('http://s3.suc.itc.cn//s/blog/d/tip_bg.gif');
color:#C43737;
}

.dialog-blog-set .sort-name-default .sort-name-error-tip{
display:none;
}

.dialog-blog-set .sort-name-default-error .sort-name-error-tip{
display:block;
}

.dialog-blog-set .sort-name-add{
float:left;
margin-top:6px;
}

.dialog-blog-set .sort-name-add .sort-name-input{
width:85px;
color:#999;
padding:4px 5px;
padding:6px 5px 2px\9;
border:1px solid #CCC;
line-height:14px;
float:left;
vertical-align:middle;
margin-right:9px
}

.dialog-blog-set .sort-name-add .btn1{
width:76px;
display:inline-block;
padding-top:5px;
height:20px;
height:19px\9;
padding-top:6px\9;
color:#FFF;
background:url('http://s3.suc.itc.cn//s/blog/d/dialog_btn_bg.gif');
text-align:center;
line-height:14px;
}

.dialog-blog-set .sort-name-add a.btn1,
.dialog-blog-set .sort-name-add a.btn1:visited,
.dialog-blog-set .sort-name-add a.btn1:hover {
text-decoration: none;
}

.blog-tip .blog-tip-text{
font-family: \9ED1\4F53,'SimHei',\5B8B\4F53,'SimSun';
font-size:24px;
line-height:30px;
color:#999;
text-align:center;
margin:0 auto 20px;
}

/* com */
i.icon-recomd-small {
position:relative;
width: 22px;
height: 18px;
float:left;
display: inline-block;
background: url('http://s3.suc.itc.cn//s/blog/d/icon_ico.v20111018.gif') no-repeat 0 1px;
vertical-align: middle;
}
.icon-recommendation {
position:absolute;
margin:5px 0 0 -45px;
}
.icon-recommendation i {
width:99px;
height:91px;
display:inline-block;
background: url('http://s3.suc.itc.cn//s/blog/d/stamp_jian.png') no-repeat 0 bottom;
_background: url('http://s3.suc.itc.cn//s/blog/d/stamp_jian.gif') no-repeat 0 bottom;
}
div.chip-backgroundcolor {
background: #fff9d7;
overflow:hidden;
clear:both;
}
.employ-space {
margin-bottom: 10px;
}
.employ-space .employ{
padding: 0 20px;
height: 25px;
line-height: 25px;
}
.employ-space .employ a,
.employ-space .employ a:visited,
.employ-space .employ a:hover {
color:#b05b00;
text-decoration:none;
}

.blog-article-date{
overflow: hidden;
padding: 5px 0;
border-bottom: 1px solid #c6c6c6;
}
.blog-article-date .date{
color:#999;
}
.blog-article-date .item-behavior{
float:right;
padding-right: 5px;
}
.blog-qt-article-remark{
padding:30px 40px 15px;
}
.blog-qt-article-remark .pm-reply-box .feed-pic {
width: 55px;
height: 55px;
}
.blog-qt-article-remark .pm-reply-box .feed-pic img{
width: 55px;
height: 55px;
}
.blog-qt-article-remark .pm-reply-box .pm-reply-con {
margin-left: 75px;
}
.blog-qt-article-remark .public-remark .flake-body {
background-color: #fff;
border: 0 none;
border-radius: 0;
margin-top:0;
}
.blog-qt-article-remark .pm-reply-box {
border-bottom: 1px solid #eeeeee;
background-color:#effaff;
padding: 10px 10px 0 10px;
}

.blog-qt-article-remark .public-remark .post-mini .pm-list .share-pic {
height: 55px;
margin-right: 5px;
width: 55px;
}

.blog-qt-article-remark .public-remark .post-mini .pm-list .share-pic img {
height: 55px;
width: 55px;

}

.blog-qt-article-remark .public-remark .post-mini .pm-list .share-con {
margin-left: 75px;
}

.blog-qt-article-remark .public-remark .post-mini .pm-list .share-con .mod-head .username{
display: block;
font-size: 12px;
}
.blog-qt-article-remark .public-remark .post-mini .pm-list .share-con .mod-head .user-suffix{
display: block;
font-size: 14px;
line-height: 22px;
padding: 3px 30px 0 3px;
text-align: justify;
color:#666;
}


.blog-qt-article-remark .public-remark .post-mini .pm-list li {
padding: 20px 10px;
border-bottom: 1px solid #eeeeee;
}

.blog-qt-article-remark .public-remark .post-mini .pm-list li.last {
border-bottom: 0 none;
}

.blog-qt-article-remark .public-remark .post-mini {
padding: 0;
}
.blog-qt-article-remark .qt-remark-tit{
padding:0 0 10px 10px;
}
.panel-box {
background: #fff;
}

.blog-qt-article-remark .qt-remark-tit .blog-article-remark-tip{
display: inline-block;
width: 200px;
padding-left: 20px;
height: 22px;
line-height: 20px;
*line-height: 24px;
line-height: 24px\0;
color:#a1a0a0;
font-size:12px;
font-weight:300;
background: url('http://s3.suc.itc.cn//s/blog/d/bg_remark_tip.gif') no-repeat 0 0;
margin-left:5px;
}


.poping-blog-follow{
width: 350px;
background-color:#FFF;
box-shadow: 0 0 3px #f6f6f6;
}
.poping-blog-follow .bf-header{
height: 28px;
line-height: 28px;
background-color:#f7f7f7;
color:#818181;
width: 100%;
}
.poping-blog-follow .bf-header p{
padding-left: 15px;
color:#818181;
}
.poping-blog-follow a.btn-close{
float:right;
width: 7px;
height: 7px;
background: url('http://s3.suc.itc.cn//s/blog/d/bg_pop_bf.gif') no-repeat 0 0;
margin: 8px 8px 0 0;
cursor: pointer;
display: inline-block;
overflow: hidden;
}
.poping-blog-follow a.btn-close:hover{
background-position: -16px 0;
}
.poping-blog-follow .bf-body{
background-color:#FFF;
width: 350px;
height: 114px;
padding: 12px 0;
overflow: hidden;
zoom:1;
}
.poping-blog-follow .bf-body .img{
float:left;
width: 75px;
border-radius: 6px 6px 6px 6px;
overflow: hidden;
}
.poping-blog-follow .bf-body .img img{
width: 75px;
height: 75px;
}
.poping-blog-follow .bf-body .txt{
float:left;
padding-left: 18px;
width: 256px;
overflow: hidden;
color:#666;
line-height:18px;
}
.poping-blog-follow .bf-body .txt a{
color:#1f87be;
}
.poping-blog-follow .bf-body .txt .tt a {
font-weight: bold;
}
.poping-blog-follow .bf-body .txt p.tt{
font-size: 14px;
color:#333;
padding-bottom: 5px;
}
.poping-blog-follow .bf-body .txt p.con{
padding-bottom: 20px;
}
.poping-blog-follow .bf-body .txt p.success{
padding: 10px 0 34px 45px;
background: url('http://s3.suc.itc.cn//s/blog/d/bg_bg_right.gif') no-repeat 10px 10px;
}
.poping-blog-follow .bf-body .txt .bf-btn{
height: 34px;
line-height: 34px;
}
.poping-blog-follow .bf-body .txt .bf-btn a{
vertical-align: middle;
}
.poping-blog-follow .bf-body .txt .bf-btn a.btn-geren {
background: url("http://s3.suc.itc.cn//s/blog/d/bg_pop_bf.gif") no-repeat scroll 0 -117px transparent;
display: inline-block;
height: 32px;
margin-left: 10px;
margin-right: 20px;
width: 106px;
}
.poping-blog-follow .bf-body .txt .bf-btn a.btn-enter{
width: 106px;
height: 32px;
display: inline-block;
background: url('http://s3.suc.itc.cn//s/blog/d/bg_pop_bf.gif') no-repeat 0 -23px;
margin-left: 10px;
overflow: hidden;
}
.poping-blog-follow .bf-body .txt .bf-btn a.btn-enter:hover{
background-position: 0 -70px;
}
.poping-blog-follow .bf-body .txt .bf-btn a.btn-geren{
width: 106px;
height: 32px;
display: inline-block;
background: url('http://s3.suc.itc.cn//s/blog/d/bg_pop_bf.gif') no-repeat 0 -117px;
margin-right: 20px;
margin-left: 10px;
}
.poping-blog-follow .bf-footer{
height: 26px;
line-height: 26px;
border-top: 1px solid #f9f0bb;
background-color:#fff9d7;
text-indent: 15px;
}
.poping-blog-follow .bf-footer{
color:#c07b2b;
}






















.jquery-at-tip {
float: left;
padding: 0;
margin: 0;
font-size: 12px;
text-align: left;
border: 1px solid #98B2C9;
background: #fff;
}
.jquery-at-tip .title {
width: 120px;
height: 25px;
line-height: 25px;
margin: 0;
padding: 0 11px;
color: #828282;
background: #F6F6F6;
overflow: hidden;
}
.jquery-at-tip ul {
display: block;
padding: 0;
margin: 0;
}
.jquery-at-tip ul li {
display: block;
width: 120px;
height: 16px;
line-height: 16px;
padding: 5px 11px;
margin: 0;
color: #666;
list-style-type: none;
border-top: 1px solid #EFEFEF;
cursor: pointer;
overflow: hidden;
}
.jquery-at-tip ul li img {
width: 16px;
height: 16px;
margin-right: 8px;
vertical-align: middle;
}
.jquery-at-tip ul li.active {
color: #fff;
background: #015EAC;
}
