/*
 * jquery dialog
 * charset GBK
 */

.jquery-dialog-mask-color, .jquery-dialog-mask-transparent {
	position: fixed;
	text-align: left;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.jquery-dialog-mask-color, .jquery-dialog-mask-transparent {
	background: url("mask.png");
}
.jquery-dialog {
	text-align: left;
}
.dialog-outer-fixed {
	position: fixed;
}
.dialog-outer-absolute {
	position: absolute;
}
.jquery-dialog-mask, .jquery-dialog {
	z-index: 3000;
}
.jquery-dialog.jquery-confirm {
	z-index: 3100;
}
.jquery-dialog.sentence-dialog-confirm, .jquery-dialog.sentence-dialog-notice, .jquery-dialog.sentence-dialog {
	z-index: 3200;
}
.jquery-dialog .dialog-top-container, .jquery-dialog .dialog-bottom-container {
	height: 5px;
}
.jquery-dialog .dialog-top-border, .jquery-dialog .dialog-top-container {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.jquery-dialog .dialog-bottom-border, .jquery-dialog .dialog-bottom-container {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.jquery-dialog .dialog-top-border, .jquery-dialog .dialog-bottom-border, .jquery-dialog .dialog-left-border, .jquery-dialog .dialog-right-border, .jquery-dialog .dialog-top-left-corner, .jquery-dialog .dialog-top-right-corner, .jquery-dialog .dialog-bottom-left-corner, .jquery-dialog .dialog-bottom-right-corner {
	opacity: 0.80;
	filter: alpha(opacity=80);
	font-size: 0;
	line-height: 0;
	float: inherit;
	float: left;
}
.jquery-dialog .dialog-top-border, .jquery-dialog .dialog-bottom-border {
	height: 5px;
	background-color: #000;
}
.jquery-dialog .dialog-left-border, .jquery-dialog .dialog-right-border {
	width: 5px;
	background-color: #000;
}
.jquery-dialog .dialog-top-left-corner, .jquery-dialog .dialog-top-right-corner, .jquery-dialog .dialog-bottom-left-corner, .jquery-dialog .dialog-bottom-right-corner {
	width: 5px;
	height: 5px;
	background: url("dialog.gif");
}
.jquery-dialog .dialog-top-left-corner {
	background-position: -30px 0;
}
.jquery-dialog .dialog-top-right-corner {
	background-position: -35px 0;
}
.jquery-dialog .dialog-bottom-left-corner {
	background-position: -30px -5px;
}
.jquery-dialog .dialog-bottom-right-corner {
	background-position: -35px -5px;
}
.jquery-dialog .dialog-inner-container {
	float: left;
	background: url("dialog_bg_gray.png") repeat;
	border: 0px solid #acacac;
}
.jquery-dialog .dialog-title-container {
	padding: 0;
	border-top: 0px solid #fff;
	border-left: 0px solid #fff;
	border-right: 0px solid #fff;
	height: 29px;
	background-color: transparent;
	overflow: hidden;
}
.jquery-dialog .dialog-title {
	float: left;
	height: 21px;
	line-height: 15px;
	font-weight: bold;
	padding: 4px 8px 0 8px;
	color: #fff;
	overflow: hidden;
}
.jquery-dialog .dialog-button-close {
	float: inherit;
	float: right;
	font-size: 0;
	line-height: 0;
	margin: 7px 8px 0 0;
	width: 13px;
	height: 13px;
	overflow: hidden;
	background-image: url("dialog.gif");
	background-position: 0 0;
	cursor: pointer;
}
.jquery-dialog .dialog-button-close-hover {
	background-position: -13px 0;
}
.jquery-dialog .dialog-button-container {
	text-align: center;
	padding: 15px 0 10px 0;
	background-color: #f6f6f6;
	border-top: 1px solid #ebebeb;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.jquery-dialog .dialog-button-container .dialog-button-accept, .jquery-dialog .dialog-button-container .dialog-button-cancel {
	margin-left: 5px;
	margin-right: 5px;
}
/* below two style rules are very important */
/* they can grow with children, and they can be restricted by another "width" style also */
.jquery-dialog .dialog-content-container {
	min-height: 10px;
	overflow: hidden;
	display: inline-block;
	background-color: #fff;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.jquery-dialog .dialog-content-container {
	*
	display: inline;
}
/* jquery inform, jquery alert, jquery confirm */
.jquery-inform .dialog-content-container, .jquery-alert .dialog-content-container, .jquery-confirm .dialog-content-container {
	padding: 20px 20px 15px 20px;
	font-size: 14px;
	font-weight: normal;
	color: #333;
}
.dialog-confirm .dialog-content-container {
	padding: 20px 20px 15px 20px;
	font-size: 14px;
	font-weight: normal;
	color: #333;
}
.jquery-inform .dialog-content {
	font-size: 14px;
	line-height: 20px;
	color: #333;
	padding-top: 6px;
	text-align: center;
	width: 200px;
}
.jquery-inform .dialog-content {
	width: auto;
}
.jquery-inform .has-icon {
	margin-left: 40px;
	text-align: left;
}
.sentence-dialog .sentence-notice-box .notice-content {
	line-height: 20px;
	padding: 5px 0;
}
.jquery-inform .dialog-content-container {
	padding-bottom: 15px;
}
/* inside tip style definition with jquery dialog */
.jquery-tip .dialog-title-container {
	display: none;
}
.jquery-tip .dialog-tip-arrow {
	z-Index: 1;
	position: absolute;
	background: url("dialog.gif");
}
.jquery-tip .dialog-tip-arrow-up, .jquery-tip .dialog-tip-arrow-down {
	width: 16px;
	height: 9px;
	left: 50px;
}
.jquery-tip .dialog-tip-arrow-left, .jquery-tip .dialog-tip-arrow-right {
	height: 16px;
	width: 9px;
	top: 50px;
}
.jquery-tip .dialog-tip-arrow-up {
	top: -3px;
	background-position: -40px 0;
}
.jquery-tip .dialog-tip-arrow-down {
	bottom: -3px;
	background-position: -60px 0;
}
.jquery-tip .dialog-tip-arrow-left {
	left: -3px;
	background-position: -80px 0;
}
.jquery-tip .dialog-tip-arrow-right {
	right: -3px;
	background-position: -90px 0;
}
.jquery-inform .dialog-button-container, .jquery-alert .dialog-button-container, .jquery-confirm .dialog-button-container {
	text-align: center;
	padding: 15px 0 10px 0;
	background-color: #fff;
	border-top: none;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
/*
 * icons
 */
.dialog-icon {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	padding: 0;
	margin: 0;
	background: url(icon_notice.gif) no-repeat 0 0;
}
.icon-success {
}
.icon-notice {
	background-position: -32px 0;
}
.icon-error {
	background-position: -64px 0;
}
/*
 * sentence notice
 */

.sentence-dialog-notice .dialog-title-container {
	display: none;
}
.sentence-dialog-confirm .dialog-title-container, .sentence-dialog .dialog-title-container {
	background-color: transparent;
}
.sentence-dialog-confirm .dialog-title, .sentence-dialog .dialog-title {
	display: none;
}
.sentence-dialog-notice .dialog-content-container, .sentence-dialog-confirm .dialog-content-container {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.sentence-notice-box {
	width: 300px;
	padding: 20px;
}
.sentence-dialog-notice .sentence-notice-box {
	width: auto;
	padding: 15px 30px;
}
.sentence-dialog-confirm .sentence-notice-box {
	width: 200px;
}
.sentence-dialog .sentence-notice-box {
	padding-top: 0;
	padding-bottom: 0;
}
.sentence-dialog-notice .sentence-notice-box .notice-box-wrapper, .sentence-dialog-confirm .sentence-notice-box .notice-box-wrapper {
	padding-right: 10px;
}
.sentence-notice-box span.notice-icon {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	padding: 0;
	margin: 0;
	background: url(icon_notice.gif) no-repeat 0 0;
}
.sentence-notice-box span.notice {
	background-position: -32px 0;
}
.sentence-notice-box span.error {
	background-position: -64px 0;
}
.sentence-notice-box .notice-content {
	font-size: 14px;
	line-height: 20px;
	color: #333;
	padding-top: 6px;
	text-align: center;
}
.sentence-dialog .sentence-notice-box .notice-content {
	line-height: 20px;
	padding: 5px 0;
}
.sentence-dialog .sentence-notice-box .notice-content h1, .sentence-dialog .sentence-notice-box .notice-content h2, .sentence-dialog .sentence-notice-box .notice-content h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 32px;
}
.sentence-dialog .sentence-notice-box .desc {
	font-size: 12px;
	line-height: 16px;
	color: #999;
}
.sentence-notice-box .has-icon {
	margin-left: 40px;
	text-align: left;
}
.sentence-dialog-notice .i-button-default .i-button-text, .sentence-dialog-confirm .i-button-default .i-button-text, .sentence-dialog .i-button-default .i-button-text {
	font-size: 14px;
	line-height: 16px;
}
/*
 * jquery-inform, jquery-alert, jquery-confirm, dialog-tip
 */

.jquery-inform .dialog-content-container {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.jquery-inform .dialog-top-container, .jquery-inform .dialog-bottom-container, .jquery-confirm .dialog-top-container, .jquery-confirm .dialog-bottom-container, .jquery-alert .dialog-top-container, .jquery-alert .dialog-bottom-container, .dialog-tip .dialog-top-container, .dialog-tip .dialog-bottom-container, .sentence-dialog-notice .dialog-top-container, .sentence-dialog-notice .dialog-bottom-container {
	height: 0px;
	overflow: hidden;
}
.jquery-inform .dialog-top-border, .jquery-inform .dialog-bottom-border, .jquery-confirm .dialog-top-border, .jquery-confirm .dialog-bottom-border, .jquery-alert .dialog-top-border, .jquery-alert .dialog-bottom-border, .dialog-tip .dialog-top-border, .dialog-tip .dialog-bottom-border, .sentence-dialog-notice .dialog-top-border, .sentence-dialog-notice .dialog-bottom-border {
	height: 0px;
	background-color: #999;
}
.jquery-inform .dialog-left-border, .jquery-inform .dialog-right-border, .jquery-confirm .dialog-left-border, .jquery-confirm .dialog-right-border, .jquery-alert .dialog-left-border, .jquery-alert .dialog-right-border, .dialog-tip .dialog-left-border, .dialog-tip .dialog-right-border, .sentence-dialog-notice .dialog-left-border, .sentence-dialog-notice .dialog-right-border {
	background-color: #999;
	width: 0px;
}
.jquery-inform .dialog-inner-container, .jquery-confirm .dialog-inner-container, .jquery-alert .dialog-inner-container, .jquery-tip .dialog-inner-container, .sentence-dialog-notice .dialog-inner-container {
	background: none;
	border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 2px 4px #999;
	-moz-box-shadow: 1px 2px 4px #999;
	box-shadow: 1px 2px 4px #999;
}
.dialog-tip .dialog-tip-arrow-left {
	left: -7px;
}
.remark-reply-dialog .dialog-button-container {
	text-align: right;
}
.remark-reply-dialog .dialog-button-container .dialog-button-accept, .remark-reply-dialog .dialog-button-container .dialog-button-cancel {
	margin-left: 0px;
	margin-right: 20px;
}

