/*
 * emote
 */
.emotion-list {
	position: absolute;
	width: 236px;
	z-index: 999;
}

.emotion-list a {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 2px;
	border: 1px dashed #eee;
	margin: 1px;
}

img.emote-base {
	width: 20px;
	height: 20px;
}

.emotion-list a:hover {
	border-style: solid;
	border-color: #4A8DC4;
}

.emotion-list .emotion-head {
	height: 8px;
	font-size: 1px;
	line-height: 1px;
	border-bottom: 1px solid #50798F;
}

.emotion-list .emotion-head span.arrow {
	display: block;
	position: relative;
	top: 1px;
	left: 16px;
	width: 15px;
	height: 8px;
	background: url(img_bubble.gif) no-repeat 0 -20px;
}

.emotion-list .emotion-body {
	background-color: #fff;
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #50798F;
	padding: 5px;
	overflow: hidden;
	-moz-box-shadow: 0px 2px 3px #b7b7b7;
	-webkit-box-shadow: 0px 2px 3px #b7b7b7;
	box-shadow: 0px 2px 3px #b7b7b7;
}