/* begin i-button layout define */
.i-button {
	cursor: default;
	outline: none;
	display: inline-block;
	text-align: left;
	-moz-user-select: none;
}

/* fix IE6/7 unsupport inline-block issue */
.i-button {
	*display: inline;
}

.i-button .i-button-left,.i-button .i-button-right {
	float: inherit;
	float: left;
	overflow: hidden;
}

.i-button .i-button-icon {
	float: left;
}
/* end i-button layout define */

/* 
 * CAUTION: IF EXSIT BELOW DEFINITIONS, BE KEEP IN ORDER
 * hover, focus, active, disabled
 *
 * "i-button-default" style class must be defined.
 * It is used for iButton className binding and dialog button binding by default.
 */
.i-button-default {
	cursor: pointer;
}

.i-button-default .i-button-left,.i-button-default .i-button-right {
	height: 27px;
	background-image: url(http://s3.suc.itc.cn/d/ui_btn.gif);
}

.i-button-default .i-button-left {
	padding-left: 20px;
	background-position: 0 0;
}

.i-button-default .i-button-right {
	padding-right: 20px;
	background-position: right 0;
}

.i-button-default.hover .i-button-left {
	background-position: 0px -60px;
}

.i-button-default.hover .i-button-right {
	background-position: right -60px;
}

.i-button-default.active .i-button-left {
	background-position: 0px -120px;
}

.i-button-default.active .i-button-right {
	background-position: right -120px;
}

.i-button-default.disabled .i-button-left {
	background-position: 0 -180px;
}
.i-button-default.disabled .i-button-right {
	background-position: right -180px;
}

.i-button-default .i-button-text {
	color: #fff;
	font-size: 14px;
	line-height: 17px;
	padding-top: 5px;
}

/* space cancel button style */
.dialog-button-cancel .i-button-left,.dialog-button-cancel .i-button-right
	{
	background-image: url(http://s3.suc.itc.cn/d/ui_btn_gray.gif);
}

.dialog-button-cancel .i-button-text {
	color: #333;
}

.dialog-button-cancel.disabled .i-button-left {
	color: #909090;
}