div.pp-dialog .dialog-content-container {
	padding: 0 25px;
	font-size: 12px;
	color: #333;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

div.pp-dialog .dialog-title-container {
	height: 13px;
	border: 0;
	padding-top: 7px;
	padding-right: 7px;
	background: #fff;
	overflow: hidden;
}

div.pp-dialog .dialog-title {
	padding: 0;
	height: 13px;
	line-height: 15px;
}

div.pp-dialog .dialog-button-close {
	margin: 0;
}

div.pp-dialog a {
	color:#2582AA;
	text-decoration: none;
}

div.pp-dialog a:hover {
	color:#2582AA;
	text-decoration: underline;
}

div.pp-dialog h2 {
	padding-top: 2px;
	height:20px;
	font-size:14px;
	font-weight:bold;
	color:#333;
	text-align:left;
	border-bottom:1px dotted  #b2b2b2;
}

div.pp-dialog .error{
	margin:10px 0;
	height: 15px;
}

div.pp-dialog .left{
	width:226px;
	border-right:1px solid #cecece;
	display:inline;
	float:left;
}

div.pp-dialog .right{
	display:inline;
	float:right;
}

div.pp-dialog .loginFrom .uname,
div.pp-dialog .loginFrom .upass{
	float:left;
	width:225px;
}

div.pp-dialog .loginFrom .upass{
	float:left;
	width:225px;
}

div.pp-dialog .loginFrom .uname input,
div.pp-dialog .loginFrom .upass input{
	margin-left:5px;
	border:1px solid #cecece;
	width: 165px;
	height: 15px;
	font-size: 12px;
}

div.pp-dialog .loginFrom .ucookie{
	height:26px;
}

div.pp-dialog .loginFrom .ucookie input{
	float: left;
}

div.pp-dialog label {
	height:26px;
	line-height:19px;
}

div.pp-dialog .btn{
	margin-top:10px;
	text-align:left;
	background: none;
}

div.pp-dialog .btn a:hover {
	text-decoration: none;
}

div.pp-dialog .loading {
	height:145px;
}

div.pp-dialog .loading .loadTxt{
	background: url(loading.gif) no-repeat 0 6px;
	padding-left: 22px;
	float:left;
	height:30px;
	line-height:30px;
	margin:50px 0 0 100px;
	color:#666;
	font-size:14px;
	display:inline;
}
.passportc{zoom:1}
.passportc:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
/* below used for passport selecter list*/
div.pp-dialog .ppselecter {z-index:5000}
div.pp-dialog .ppselecter table {position:relative;z-index:100;cursor:default;}
div.pp-dialog .ppselecter table tr {height:0}
div.pp-dialog .ppselecter,div.pp-dialog .ppselecter * {font-size:12px; font-family:\5B8B\4F53,'simsun','Arial','Verdana','Helvetica','sans-serif';line-height:normal}
div.pp-dialog .ppselecter {border:1px solid #FFA700;width:166px;margin-left:1px;overflow:hidden}
div.pp-dialog .ppselecter .ppseltit {background:#FFF6DF;color:#FF6000;height:15px;padding-top:4px;text-indent:6px}
div.pp-dialog .ppselecter table td table td {padding:3px;cursor:pointer;}
div.pp-dialog .ppselecter .active {background:#FDD463;color:#333;font-weight:normal}
